<!-- BEGIN PAGE LEVEL CUSTOM STYLES -->
<link href="/assets/css/components/custom-modal.css" rel="stylesheet" type="text/css" />

<link rel="stylesheet" type="text/css" href="/plugins/table/datatable/datatables.css">
<link rel="stylesheet" type="text/css" href="/assets/css/forms/theme-checkbox-radio.css">
<link rel="stylesheet" type="text/css" href="/plugins/table/datatable/dt-global_style.css">
<link rel="stylesheet" type="text/css" href="/plugins/table/datatable/custom_dt_custom.css">

<!-- END PAGE LEVEL CUSTOM STYLES -->

<style>
    table tbody p.title-custom {
        font-size: 15px;
        font-weight: 600;
        color: #e2a03f;
    }

    td p {
        max-width: 150px;
        word-break: break-all;
        text-align: left;
    }
</style>
<!--  BEGIN CONTENT AREA  -->
<div id="content" class="main-content">

    <div class="layout-px-spacing">
        {{#each errors}}
        {{>admin/flash-message/error}}
        {{/each}}
        {{#each messages}}
        {{>admin/flash-message/success}}
        {{/each}}
        <div class="row layout-top-spacing layout-spacing">
            <div class="col-lg-12">
                <div class="statbox widget box box-shadow">
                    <div class="widget-header">
                        <div class="row">
                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                <h4>Lịch sử xuất nhập kho </h4>
                            </div>
                        </div>
                    </div>
                    <div class="widget-content widget-content-area">
                        <div class="table-responsive mb-4">
                            <div>
                                <table id="style-3" class="table style-3  table-hover">
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>NHẬP/XUẤT</th>
                                            <th>SẢN PHẨM</th>
                                            <th>ĐƠN GIÁ</th>
                                            <th>SỐ LƯỢNG</th>
                                            <th>KHO</th>
                                            <th>Màu</th>
                                            <th>Size</th>
                                            <th>TIME</th>
                                            <th>TỔNG TIỀN</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each historys}}
                                        <tr>
                                            <td class="checkbox-column"> {{@index}}</td>
                                            <td>
                                                <p> {{this.type}}</p>
                                            </td>
                                            <td>
                                                <p class="title-custom"> {{this.product.name}}</p>
                                            </td>
                                            <td > <p data-price="{{this.price}}" class="product-price-vnd"> {{this.price}}</p></td>
                                            <td>
                                                <p>{{this.quantity}}</p>
                                            </td>
                                            <td>
                                                <p>{{this.storage.name}}</p>
                                            </td>
                                            <td>
                                                <p> {{this.color.colorName}}</p>

                                            </td>
                                             <td>
                                                <p> {{this.size.sizeName}}</p>

                                            </td>
                                            <td>
                                                <div class="mt-2 mb-2">
                                                    <span class="text-muted">{{ formatDate this.created_date}} </span>
                                                </div>
                                            </td>
                                            <td > <p data-price="{{getMoney this.price this.quantity}}" class="product-price-vnd"> {{getMoney this.price this.quantity}}</p></td>

                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{>admin/footer}}
    </div>
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="/plugins/table/datatable/datatables.js"></script>
    <script>
        c3 = $('#style-3').DataTable({
            "oLanguage": {
                "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
                "sInfo": "Xem trang _PAGE_ trên _PAGES_",
                "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
                "sSearchPlaceholder": "Tìm kiếm...",
                "sLengthMenu": "Hiển thị :  _MENU_",
            },
            "stripeClasses": [],
            "lengthMenu": [5, 10, 20, 50],
            "pageLength": 50
        });
        multiCheck(c3);
    </script>
    <script src="/admin/storage.js"></script>

    <!-- END PAGE LEVEL SCRIPTS -->