<!-- Header All Shopping Selection Start -->
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-7 full-col pr-0">
    <div class="main-selection">
        <ul class="selection-list text-right">
            <!-- Searcch Box Start -->
            <li class="hidden-control"><i class="pe-7s-search"></i>
                <ul class="search-form ht-dropdown">
                    <li>
                        <form id="formSearchProduct" action="{{createRouteSearch}}" method="POST">
                            <input type="text" class="search" name="search" placeholder="Tìm kiếm sản phẩm ...">
                        </form>
                        <i id="btn-search-product-desktop" class="pe-7s-search"></i>
                    </li>
                </ul>
            </li>
            <!-- Search Box End -->
            <li>
                <a href="{{createWishLishURL}}">
                    <i class="pe-7s-like"></i>
                    <span id="wish-list-length">{{getLengthArray cart.listFavorProducts}}</span>
                </a>
            </li>
            <li data-length ="{{getLengthArray cart.listCartProducts}}" id="js-cart-data">
                <a href="{{createCartDetailURL}}">
                    <i class="pe-7s-shopbag"></i>
                    <span id="cart-length">{{getLengthArray cart.listCartProducts}}</span>
                </a>
                <ul class="ht-dropdown main-cart-box">
                    <li>
                        <!-- Cart Box Start -->
                        <div id="container-products">
                            {{#each cart.listCartProducts }}
                            <div id="{{this._id}}" class="single-cart-box">
                                <div class="cart-img">
                                    <a href="{{createURLProduct this.urlSeo}}"><img
                                            src="{{createThumbCartImage this.thumb_cart}}" alt="cart-image"></a>
                                </div>
                                <div class="cart-content">
                                    <h6><a href="{{createURLProduct this.urlSeo}}">{{this.name}}</a></h6>
                                    <span>{{this.count}} ×</span> <span class="product-price-vnd"
                                        data-price="{{this.price}}">100.000</span>
                                </div>
                                <i data-count="{{this.count}}" data-price="{{this.price}}" data-productid="{{this._id}}"
                                    class="remove-product-from-cart pe-7s-close"></i>
                            </div>
                            {{/each }}
                            <!-- Cart Box End -->
                        </div>

                        <!-- Cart Footer Inner Start -->
                        <div class="cart-footer fix">
                            <h5>total :<span id="totalPrice" data-price="{{getTotalPrice cart.listCartProducts}}"
                                    class="f-right product-price-vnd"> {{getTotalPrice
                                    cart.listCartProducts}}</span></h5>
                            <div class="cart-actions">
                                <a class="checkout" href="/check-out">Thanh Toán</a>
                            </div>
                        </div>
                        <!-- Cart Footer Inner End -->
                    </li>
                </ul>
            </li>
            <!-- Dropdown Currency Selection Start -->
            <li><i class="pe-7s-config"></i>
                <ul class="ht-dropdown currrency">
                    <li>
                        <h3>Tiền tệ</h3>
                        <ul class="mb-15">
                            <li>€ euro</li>
                            <li>£ pound sterling</li>
                            <li>$ us dollar</li>
                        </ul>
                    </li>
                    <li>
                        <h3>Ngôn Ngữ</h3>
                        <ul class="mb-15">
                            <li><img src="img/menu/2.png" alt="menu-icon">English</li>
                            <li><img src="img/menu/1.png" alt="menu-icon">Việt Nam</li>
                        </ul>
                    </li>
                    <li>
                        <h3>Tài khoản của tôi</h3>
                        <ul>
                            <li><a href="/register">register</a></li>
                            <li><a href="account.html">My Account</a></li>
                            <li><a href="log-in.html">log in</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <!-- Dropdown Currency Selection End -->
        </ul>
    </div>
</div>
<!-- Header All Shopping Selection End -->