<div class="wrapper">
    <!-- Preloader Start -->
    <div class="preloader">
        <div class="loading-center">
            <div class="loading-center-absolute">
                <div class="object object_one"></div>
                <div class="object object_two"></div>
                <div class="object object_three"></div>
            </div>
        </div>
    </div>
    <!-- Preloader End -->

    <!-- Header Area Start -->
       {{>client/main-header}}
    <!-- Header Area End -->
    
    <!-- Page Breadcrumb Start -->
    <div class="main-breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="breadcrumb-content text-center ptb-70">
                        <ul class="breadcrumb-list breadcrumb">
                            <li><a href="/">Trang Chủ</a></li>
                            <li class="active"><a>blog</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Row End -->
        </div>
        <!-- Container End -->
    </div>
    <!-- Page Breadcrumb End -->
    <!-- Blog Area Start -->
    <div class="blog-area off-white-bg mtb-100 pb-50">
        <div class="container">
            <div class="row">
                <!-- Section Title Start -->
                <div class="col-xs-12">
                    <div class="section-title text-center ptb-50">
                        <h3 class="section-info">DANH SÁCH TIN TỨC MỚI NHẤT CỦA MOMO</h3>
                    </div>
                </div>
                <!-- Section Title End -->
            </div>
            <!-- Row End -->
            <div class="row">

                {{#each posts}}
                <div class="col-md-4 col-sm-6">
                    <!-- Single Blog Start -->
                    <div class="single-blog">
                          <div class="blog-img">
                                <a href="{{createPostDetailURL this.urlSeo}}"><img src="{{fullPathImage this.thumb_image}}" alt="blog-image"></a>
                            </div>
                         <div class="blog-content">
                                <div class="blog-content-upper">
                                    <h6 class="blog-title"><a href="{{createPostDetailURL this.urlSeo}}">{{this.title}}</a></h6>
                                    <p>{{getDescriptionArtiles this.short_desc}}</p>
                                </div>
                                <div class="blog-content-lower">
                                    <a >MOMO</a>
                                    <span class="f-right">{{getDateArtiles this.created_date}}</span>
                                </div>
                            </div>
                    </div>
                    <!-- Single Blog End -->
                </div>
                {{/each}}
 

            </div>
            <!-- Row End -->
            <div class="row">
                <div class="col-sm-12">
                    <ul class="blog-pagination page-container ptb-20">
                           {{#ifEquals currentPage 1}}
                                                    {{else}}
                                                    <li><a data-page={{createNumberPrevPage currentPage  1}}
                                                            class="page-item"
                                                            href="#">{{createNumberPrevPage currentPage  1}}</a>
                                                    </li>
                                                    {{/ifEquals}}


                                                    <li class="active"><a class="page-item"
                                                            data-page="{{ currentPage  }}"
                                                            href="#">{{ currentPage  }}</a></li>


                                                    {{#checkNextPage currentPage  pageSize pageInfo.count  }}
                                                    <li><a class="page-item"
                                                            data-page="{{createNumberNextPage currentPage  1 }}"
                                                            href="#">{{createNumberNextPage currentPage  1 }}</a></li>
                                                    {{else}}
                                                    {{/checkNextPage}}

                                                    {{#checkNextPage currentPage  pageSize pageInfo.count  }}
                                                    <li><a data-page={{createNumberNextPage currentPage  1 }}
                                                            href="#"><i class="fa fa-angle-right"
                                                                aria-hidden="true"></i></a></li>
                                                    {{else}}
                                                    {{/checkNextPage}}
                    </ul>
                    <!-- End of .blog-pagination -->
                </div>
            </div>
            <!-- Row End -->
        </div>
        <!-- Container End -->
    </div>
    <!-- Blog Area End -->
    <!-- Footer Start -->
    <footer>
        <!-- Footer Middle Start -->
        {{>client/footer/footer-middle}}
        <!-- Footer Middle End -->

        <!-- Footer Bottom Start -->
        {{>client/footer/footer-bottom}}
        <!-- Footer Bottom End -->
    </footer>
    <!-- Footer End -->