<div class="wrapper">
    <!-- Preloader Start -->
    <div class="preloader">
        <div class="loading-center">
            <div class="loading-center-absolute">
                <div class="object object_one"></div>
                <div class="object object_two"></div>
                <div class="object object_three"></div>
            </div>
        </div>
    </div>
    <!-- Preloader End -->

    <!-- Header Area Start -->
    {{>client/main-header}}
    <!-- Header Area End -->

    <!-- Page Breadcrumb Start -->
    <div class="main-breadcrumb mb-100">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="breadcrumb-content text-center ptb-70">
                        <ul class="breadcrumb-list breadcrumb">
                            <li><a href="/">Trang chủ</a></li>
                            <li><a href="">Giỏ hàng</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Row End -->
        </div>
        <!-- Container End -->
    </div>
    <!-- Page Breadcrumb End -->
    <!-- cart-main-area & wish list start -->
    <div class="cart-main-area pb-100">
        <div class="container">
            <!-- Section Title Start -->
            <div class="section-title mb-50">
                <h2>Giỏ hàng</h2>
            </div>
            <!-- Section Title Start End -->
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <!-- Form Start -->
                    <form action="#">
                        <!-- Table Content Start -->
                        <div class="table-content table-responsive mb-50">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="product-thumbnail">Ảnh</th>
                                        <th class="product-name">Sản phẩm</th>
                                        <th class="product-price">Đơn giá</th>
                                        <th class="product-quantity">Số lượng</th>
                                        <th class="product-colorS">Màu</th>
                                        <th class="product-sizeS">Size</th>
                                        <th class="product-subtotal">Tổng</th>
                                        <th class="product-remove">Xóa</th>
                                    </tr>
                                </thead>
                                <tbody id="container-card-detail">
                                    {{#each cart.listCartProducts }}
                                    <tr data-product="{{objectToString this}}" id="{{this._id}}" class="product-item">
                                        <td class="product-thumbnail">
                                            <a href="{{ createURLProduct this.urlSeo}}"><img src="{{getActiveProductImage this.listImages}}"
                                                    alt="cart-image" /></a>
                                        </td>
                                        <td title="Xem chi tiết" class="product-name"><a target="_blank"
                                                href="{{ createURLProduct this.urlSeo}}">{{this.name}}</a></td>
                                        <td data-price="{{this.price}}" class="product-price product-price-vnd"><span
                                                class="amount">{{this.price}}</span></td>
                                        <td class="product-quantity"><input type="number" value="{{this.count}}">
                                        </td>
                                        <td class="product-color">
                                            {{getColorName this.color}}
                                            {{!-- <select class="form-control">
                                                {{#each this.blocksColor}}
                                                <option value="{{this.colorCode}}" {{selected this.colorCode ../this.color}}>{{this.colorName}}</option>
                                                {{/each}}
                                            </select> --}}
                                        </td>
                                        <td class="product-size">
                                            {{getSizeName this.size}}
                                            {{!-- <select class="form-control">
                                                {{#each this.blocksSize}}
                                                <option value="{{this.sizeCode}}" {{selected this.sizeCode ../this.size}} >{{this.sizeName}}</option>
                                                {{/each}}
                                            </select> --}}
                                        </td>

                                        <td data-price="{{productTotalSub this.count this.price}}"
                                            class="product-subtotal product-price-vnd">
                                            {{productTotalSub this.count this.price}}</td>
                                        <td  class="product-remove"> <a href="#">
                                                <i data-count="{{this.count}}" data-price="{{this.price}}"
                                                    data-productid="{{this._id}}"
                                                    class="fa fa-times remove-product-from-cart" aria-hidden="true"></i>

                                            </a></td>
                                    </tr>
                                    {{else}}
                                    <tr>
                                        <td colspan="8" class="text-center">
                                            <p class="text-warning">Bạn chưa thêm sản phẩm nào vào giỏ hàng !</p>
                                        </td>
                                    </tr>
                                    {{/each}}

                                </tbody>
                            </table>
                        </div>
                        <!-- Table Content Start -->
                        <div class="row">
                            <!-- Cart Button Start -->
                            <div class="col-md-8 col-sm-7 col-xs-12">
                                <div class="buttons-cart">
                                    <input id="updateCartButton"  value="Cập Nhật Giỏ Hàng" />
                                    <a  href="{{createURLCategory 'all'}}">Tiếp tục mua hàng</a>
                                </div>
                            </div>
                            <!-- Cart Button Start -->
                            <!-- Cart Totals Start -->
                            <div class="col-md-4 col-sm-5 col-xs-12">
                                <div class="cart_totals">
                                    <h2>Tổng đơn hàng</h2>
                                    <br />
                                    <table>
                                        <tbody>
                                            {{!-- <tr class="cart-subtotal">
                                                <th>Subtotal</th>
                                                <td><span data-price="{{getTotalPrice cart.listCartProducts}}"
                                                        class="amount product-price-vnd">{{getTotalPrice cart.listCartProducts}}</span>
                                                </td>
                                            </tr> --}}
                                            <tr class="order-total">
                                                {{!-- <th>Total</th> --}}
                                                <td>
                                                    <strong><span data-price="{{getTotalPrice cart.listCartProducts}}"
                                                            class=" amount product-price-vnd">{{getTotalPrice cart.listCartProducts}}</span></strong>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="wc-proceed-to-checkout">
                                        <a href="/check-out" >Thanh Toán</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Cart Totals End -->
                        </div>
                        <!-- Row End -->
                    </form>
                    <!-- Form End -->
                </div>
            </div>
            <!-- Row End -->
        </div>
    </div>
    <!-- cart-main-area & wish list end -->
    <!-- Footer Start -->
    <footer>
        <!-- Footer Middle Start -->
        {{>client/footer/footer-middle}}
        <!-- Footer Middle End -->

        <!-- Footer Bottom Start -->
        {{>client/footer/footer-bottom}}
        <!-- Footer Bottom End -->

    </footer>
    <!-- Footer End -->
</div>