<div class="wrapper">
    <!-- Preloader Start -->
    <div class="preloader">
        <div class="loading-center">
            <div class="loading-center-absolute">
                <div class="object object_one"></div>
                <div class="object object_two"></div>
                <div class="object object_three"></div>
            </div>
        </div>
    </div>
    <!-- Preloader End -->
    <!-- Header Area Start -->
    <header>
        <div class="container-fluid header-top-area header-sticky">
            <div class="row">
                <!-- Logo Start -->
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-5 full-col pl-0">
                    <div class="logo">
                        <a href="/"><img src="/img/logo/logo.png" alt="brand-image"></a>
                    </div>
                </div>
                <!-- Logo End -->
                <div class="col-xs-12 visible-xs visible-control">
                    <ul class="search-form mobile-form">
                        <li>
                            <form action="#">
                                <input type="text" class="search" name="search" placeholder="Search for products...">
                            </form>
                            <i class="pe-7s-search"></i>
                        </li>
                    </ul>
                </div>

                <!-- Primary-Menu Start -->
                {{>client/header/primary-menu}}
                <!-- Primary-Menu End -->

                <!-- Header All Shopping Selection Start -->
                {{>client/header/header-all}}
                <!-- Header All Shopping Selection End -->
                <!-- Mobile Menu  Start -->
                <div class="mobile-menu visible-sm visible-xs">
                    <nav>
                        <ul>
                            <li><a href="#">Home</a>
                                <!-- Mobile Menu Dropdown Start -->
                                <ul>
                                    <li><a href="index.html">Home Version 1</a></li>
                                    <li><a href="home-2.html">Home Version 2</a></li>
                                    <li><a href="home-3.html">Home Version 3</a></li>
                                    <li><a href="home-4.html">Home Version 4</a></li>
                                </ul>
                                <!-- Mobile Menu Dropdown End -->
                            </li>
                            <li><a href="#">Furniture</a>
                                <!-- Mobile Menu Dropdown Start -->
                                <ul>
                                    <li><a href="#">sofas & loveseats</a>
                                        <!-- Mobile Menu Sub-Dropdown Start -->
                                        <ul>
                                            <li><a href="categorie-page.html">convallis neceros</a></li>
                                            <li><a href="categorie-page.html">Outdoor Rugs</a></li>
                                            <li><a href="categorie-page.html">Mice and Trackballs</a></li>
                                            <li><a href="categorie-page.html">Cameras</a></li>
                                        </ul>
                                        <!-- Mobile Menu Sub-Dropdown End -->
                                    </li>
                                    <li><a href="#">chairs & recliners</a>
                                        <!-- Mobile Menu Sub-Dropdown Start -->
                                        <ul>
                                            <li><a href="categorie-page.html">commodo nunc</a></li>
                                            <li><a href="categorie-page.html">dignissim porta</a></li>
                                            <li><a href="categorie-page.html">necvelit dignissim</a></li>
                                            <li><a href="categorie-page.html">venenatis lacinia</a></li>
                                        </ul>
                                        <!-- Mobile Menu Sub-Dropdown End -->
                                    </li>
                                </ul>
                                <!-- Mobile Menu Dropdown End -->
                            </li>
                            <li><a href="#">decor</a>
                                <!-- Mobile Menu Dropdown Start -->
                                <ul>
                                    <li><a href="#">art gallery</a>
                                        <!-- Mobile Menu Sub-Dropdown Start -->
                                        <ul>
                                            <li><a href="categorie-page.html">congue nonorna</a></li>
                                            <li><a href="categorie-page.html">Etiam sapien</a></li>
                                            <li><a href="categorie-page.html">Outdoor Lighting</a></li>
                                            <li><a href="categorie-page.html">sapien enim</a></li>
                                        </ul>
                                        <!-- Mobile Menu Sub-Dropdown End -->
                                    </li>
                                    <li><a href="#">lighting</a>
                                        <!-- Mobile Menu Sub-Dropdown Start -->
                                        <ul>
                                            <li><a href="categorie-page.html">commodo nunc</a></li>
                                            <li><a href="categorie-page.html">elementum dolor</a></li>
                                            <li><a href="categorie-page.html">ligula velvenen</a></li>
                                            <li><a href="categorie-page.html">Vestibulum tempor</a></li>
                                        </ul>
                                        <!-- Mobile Menu Sub-Dropdown End -->
                                    </li>
                                    <li><a href="#">rugs</a>
                                        <!-- Mobile Menu Sub-Dropdown Start -->
                                        <ul>
                                            <li><a href="categorie-page.html">blandit vehicula</a></li>
                                            <li><a href="categorie-page.html">Praesent molestie</a></li>
                                            <li><a href="categorie-page.html">sagittis ipsum</a></li>
                                            <li><a href="categorie-page.html">venenatis innunc</a></li>
                                        </ul>
                                        <!-- Mobile Menu Sub-Dropdown End -->
                                    </li>
                                    <li><a href="#">throw pillows</a>
                                        <!-- Mobile Menu Sub-Dropdown Start -->
                                        <ul>
                                            <li><a href="categorie-page.html">Fire Pits</a></li>
                                            <li><a href="categorie-page.html">Garden Accents</a></li>
                                            <li><a href="categorie-page.html">Outdoor Fountains</a></li>
                                            <li><a href="categorie-page.html">Patio Heaters</a></li>
                                        </ul>
                                        <!-- Mobile Menu Sub-Dropdown End -->
                                    </li>
                                </ul>
                                <!-- Mobile Menu Dropdown End -->
                            </li>
                            <li><a href="#">pages</a>
                                <!-- Home Version Dropdown Start -->
                                <ul>
                                    <li><a href="categorie-page.html">shop</a></li>
                                    <li><a href="product-page.html">Product Details</a></li>
                                    <li><a href="cart.html">cart</a></li>
                                    <li><a href="checkout.html">checkout</a></li>
                                    <li><a href="wish-list.html">wish list</a></li>
                                    <li><a href="blog.html">blog</a></li>
                                    <li><a href="blog-details.html">blog details</a></li>
                                    <li><a href="contact.html">contact</a></li>
                                    <li><a href="privacy.html">Privacy Policy</a></li>
                                    <li><a href="404.html">404</a></li>
                                </ul>
                                <!-- Home Version Dropdown End -->
                            </li>
                            <li><a href="about-us.html">about us</a></li>
                        </ul>
                    </nav>
                </div>
                <!-- Mobile Menu  End -->
            </div>
        </div>
    </header>
    <!-- Header Area End -->
    <!-- Page Breadcrumb Start -->
    <div class="main-breadcrumb mb-100">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="breadcrumb-content text-center ptb-70">
                        <h1>{{categoryDetail.name}}</h1>
                        <ul class="breadcrumb-list breadcrumb">
                            <li><a href="/">home</a></li>
                            <li><a href="#">{{categoryDetail.name}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Breadcrumb End -->
    <!-- Categories Product Start -->
    <div class="all-categories pb-100">
        <div class="container">
            <div class="row">
                <!-- Sidebar Content Start -->
                <div class="col-md-9 col-md-push-3">
                    <!-- Sidebar Right Top Content Start -->
                    <div class="sidebar-desc-content">
                        <p>{{categoryDetail.note}}</p>
                        <hr>
                    </div>
                    <!-- Sidebar Right Top Content Start -->
                    <!-- Best Seller Product Start -->
                    <div class="best-seller">
                        <div class="row mt-20">
                            <div class="col-md-3 col-sm-4 pull-left">
                                <div class="grid-list-view">
                                    <ul class="list-inline">
                                        <li class="active"><a data-toggle="tab" href="#grid-view"
                                                aria-expanded="true"><i class="zmdi zmdi-view-dashboard"></i><i
                                                    class="pe-7s-keypad"></i></a></li>
                                        <li><a data-toggle="tab" href="#list-view" aria-expanded="false"><i
                                                    class="zmdi zmdi-view-list"></i><i class="pe-7s-menu"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-5 pull-right">
                                <select name="shorer" id="shorter" class="form-control select-varient">
                                    <option {{initSortType sortType 0}} value="0">Sắp xếp:Mặc định</option>
                                    <option {{initSortType sortType 1}} value="1">Sắp xếp: Tên (A - Z)</option>
                                    <option {{initSortType sortType 2}} value="2">Sắp xếp:Tên (Z - A)</option>
                                    <option {{initSortType sortType 3}} value="3">Sắp xếp:Giá (Thấp > Cao)</option>
                                    <option {{initSortType sortType 4}} value="4">Sắp xếp:Giá (Cao > Thấp)</option>
                                    <option {{initSortType sortType 5}} value="5">Sắp xếp:Rating (Cao Nhất)</option>
                                    <option {{initSortType sortType 6}} value="6">Sắp xếp:Rating (Thấp Nhất)</option>
                                    <option {{initSortType sortType 7}} value="7">Sắp xếp:Model (A - Z)</option>
                                    <option {{initSortType sortType 8}} value="8">Sắp xếp:Model (Z - A)</option>
                                </select>
                            </div>
                            <div class="col-md-3 col-sm-3 pull-right">
                                <select name="shorter" id="pageSizeCategory" class="form-control select-varient">
                                    <option {{initPageSize pageSize 9}} value='9'>Show: 9 </option>

                                    {{#ifBigger pageInfo.count 21}}
                                    <option {{initPageSize pageSize 21}} value='21'>Show: 21 </option>
                                    {{else}}
                                    {{/ifBigger}}

                                    {{#ifBigger pageInfo.count 50}}
                                    <option {{initPageSize pageSize 50}} value="50">Show: 50</option>
                                    {{else}}
                                    {{/ifBigger}}
                                    {{#ifBigger pageInfo.count 75}}
                                    <option {{initPageSize pageSize 75}} value="75">Show: 75</option>
                                    {{else}}
                                    {{/ifBigger}}
                                    {{#ifBigger pageInfo.count 100}}
                                    <option {{initPageSize pageSize 100}} value="100">Show: 100</option>
                                    {{else}}
                                    {{/ifBigger}}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="tab-content categorie-list ">
                                    <div id="list-view" class="tab-pane fade">

                                        {{!-- list 1 hang 1 san pham --}}
                                        <div class="row">
                                            {{#each products}}
                                            <!-- Main Single Product Start -->
                                            <div class="main-single-product fix">
                                                <div class="col-sm-4">

                                                    <!-- Single Product Start -->
                                                    <div class="single-product">
                                                        <!-- Product Image Start -->
                                                        <div class="pro-img">
                                                            <a href="product-page.html">
                                                                <img class="primary-img"
                                                                    src="{{getAvatarImage 'primary' this.listImages}}"
                                                                    alt="single-product">
                                                            </a>
                                                            <div class="quick-view">
                                                                <a class="show-quick-modal"
                                                                    data-idproduct="{{this._id}}" href="#"
                                                                    data-toggle="modal" data-target="#myModal"><i
                                                                        class="pe-7s-look"></i>Xem nhanh</a>
                                                            </div>
                                                            <span class="sticker-new">new</span>
                                                        </div>
                                                        <!-- Product Image End -->
                                                    </div>
                                                    <!-- Single Product End -->

                                                </div>
                                                <div class="col-sm-8">
                                                    <!-- Product Content Start -->
                                                    <div class="thubnail-desc fix">
                                                        <h4 class="product-header"><a
                                                                href="product-page.html">{{this.name}}</a></h4>
                                                        <!-- Product Price Start -->
                                                        <div class="pro-price mb-15">
                                                            <ul class="pro-price-list">
                                                                <li data-price="{{this.price}}"
                                                                    class="price product-price-vnd">{{this.price}}</li>
                                                                <li class="mtb-50">
                                                                    <p>Stop your co-workers in their tracks with the
                                                                        stunning new 30-inch diagonal HP LP3065 Flat
                                                                        Panel Monitor. This flagship monitor features
                                                                        best-in-class performance and presentation
                                                                        features on a huge w..</p>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <!-- Product Price End -->
                                                        <!-- Product Button Actions Start -->
                                                        <div class="product-button-actions">
                                                            <button class="add-to-cart" data-toggle="tooltip"
                                                                title="Add to Cart">add to cart</button>

                                                            <a data-product="{{objectToString this}}"
                                                                data-toggle="tooltip" title="Add to Wishlist"
                                                                class="add-wish-list same-btn mr-15"><i
                                                                    class="pe-7s-like"></i></a>

                                                            <button data-toggle="tooltip" title="Compare this Product"
                                                                class="same-btn"><i class="pe-7s-repeat"></i></button>
                                                        </div>
                                                        <!-- Product Button Actions End -->
                                                    </div>
                                                    <!-- Product Content End -->
                                                </div>
                                            </div>
                                            <!-- Main Single Product Start -->
                                            {{/each}}
                                        </div>
                                        <!-- Row End -->
                                        <div class="row mt-40 mb-70">
                                            <div class="col-sm-6">
                                                <!-- start of .blog-pagination -->
                                                <ul class="blog-pagination page-container">

                                                    {{#ifEquals currentPage 1}}
                                                    {{else}}
                                                    <li><a data-page={{createNumberPrevPage currentPage  1}}
                                                            class="page-item"
                                                            href="#">{{createNumberPrevPage currentPage  1}}</a>
                                                    </li>
                                                    {{/ifEquals}}


                                                    <li class="active"><a class="page-item"
                                                            data-page="{{ currentPage  }}"
                                                            href="#">{{ currentPage  }}</a></li>


                                                    {{#checkNextPage currentPage  pageSize pageInfo.count  }}
                                                    <li><a class="page-item"
                                                            data-page="{{createNumberNextPage currentPage  1 }}"
                                                            href="#">{{createNumberNextPage currentPage  1 }}</a></li>
                                                    {{else}}
                                                    {{/checkNextPage}}

                                                    {{#checkNextPage currentPage  pageSize pageInfo.count  }}
                                                    <li><a data-page={{createNumberNextPage currentPage  1 }}
                                                            href="#"><i class="fa fa-angle-right"
                                                                aria-hidden="true"></i></a></li>
                                                    {{else}}
                                                    {{/checkNextPage}}
                                                </ul>
                                                <!-- End of .blog-pagination -->
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="pro-list-details text-right">
                                                    <p class="mr-15 mt-10">Showing 1 to {{products.length}} of
                                                        {{pageInfo.count}} ({{getTotalPage pageInfo.count pageSize }}
                                                        Pages)</p>
                                                </div>
                                                <!-- Pro List Details End -->
                                            </div>
                                        </div>
                                        <!-- Row End -->
                                    </div>
                                    <!-- #list-view End -->
                                    <div id="grid-view" class="tab-pane fade in active mt-40">
                                        <div class="row">
                                            {{#each products}}
                                            <div class="col-md-4 col-sm-6">
                                                <!-- Single Product Start -->
                                                <div class="single-product">
                                                    <!-- Product Image Start -->
                                                    <div class="pro-img">
                                                        <a href="product-page.html">
                                                            <img class="primary-img"
                                                                src="{{getAvatarImage 'primary' this.listImages}}"
                                                                alt="single-product">
                                                            <img class="secondary-img"
                                                                src="{{getAvatarImage 'secondary' this.listImages}}"
                                                                alt="single-product">
                                                        </a>
                                                        <div class="quick-view">
                                                            <a class="show-quick-modal" data-idproduct="{{this._id}}"
                                                                href="#" data-toggle="modal" data-target="#myModal"><i
                                                                    class="pe-7s-look"></i>Xem nhanh</a>
                                                        </div>
                                                        <span class="sticker-new">new</span>
                                                    </div>
                                                    <!-- Product Image End -->
                                                    <!-- Product Content Start -->
                                                    <div class="pro-content text-center">
                                                        <h4><a href="product-page.html">{{this.name}}</a></h4>
                                                        <p data-price="{{this.price}}" class="price product-price-vnd">
                                                            <span>{{this.price}}</span></p>
                                                        <div class="action-links2">
                                                            <a data-toggle="tooltip" title="Add to Cart"
                                                                href="cart.html">thêm vào giỏ hàng</a>
                                                        </div>
                                                    </div>
                                                    <!-- Product Content End -->
                                                </div>
                                                <!-- Single Product End -->
                                            </div>
                                            {{/each}}
                                        </div>
                                        <!-- Row End -->
                                        <div class="row mt-40 mb-70">
                                            <div class="col-sm-6">
                                                <ul class="blog-pagination page-container">

                                                    {{#ifEquals currentPage 1}}
                                                    {{else}}
                                                    <li><a data-page={{createNumberPrevPage currentPage  1}}
                                                            class="page-item"
                                                            href="#">{{createNumberPrevPage currentPage  1}}</a>
                                                    </li>
                                                    {{/ifEquals}}


                                                    <li class="active"><a class="page-item"
                                                            data-page="{{ currentPage  }}"
                                                            href="#">{{ currentPage  }}</a></li>


                                                    {{#checkNextPage currentPage  pageSize pageInfo.count  }}
                                                    <li><a class="page-item"
                                                            data-page="{{createNumberNextPage currentPage  1 }}"
                                                            href="#">{{createNumberNextPage currentPage  1 }}</a></li>
                                                    {{else}}
                                                    {{/checkNextPage}}

                                                    {{#checkNextPage currentPage  pageSize pageInfo.count  }}
                                                    <li><a data-page={{createNumberNextPage currentPage  1 }}
                                                            href="#"><i class="fa fa-angle-right"
                                                                aria-hidden="true"></i></a></li>
                                                    {{else}}
                                                    {{/checkNextPage}}
                                                </ul>
                                                <!-- End of .blog-pagination -->
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="pro-list-details text-right">
                                                    <p class="mr-15 mt-10">Showing 1 to {{products.length}} of
                                                        {{pageInfo.count}} ({{getTotalPage pageInfo.count pageSize }}
                                                        Pages)</p>
                                                </div>
                                                <!-- Pro List Details End -->
                                            </div>
                                        </div>
                                        <!-- Row End -->
                                    </div>
                                    <!-- #Grid-view End -->
                                </div>
                                <!-- .Tab Content End -->
                            </div>
                        </div>
                        <!-- Row End -->
                    </div>
                    <!-- Best Seller Product End -->
                </div>
                <!-- Sidebar Content End -->
                <!-- Sidebar Start -->
                <div class="col-md-3 col-md-pull-9">
                    <aside class="categorie-sidebar mb-100">
                        <!-- Categories Module Start -->
                        <div class="categorie-module mb-80">
                            <h3>categories</h3>
                            <ul class="categorie-list">
                                <li class="active"><a href="#">Furniture (19)</a>
                                    <ul class="sub-categorie pl-30">
                                        <li><a href="#">Sofas & Loveseats (19)</a></li>
                                        <li><a href="#">Chairs & Recliners (19)</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Sectionals (16)</a></li>
                                <li><a href="#">Decor (19)</a></li>
                                <li><a href="#">Decorative Accessories (19)</a></li>
                                <li><a href="#">Window Treatments (16)</a></li>
                                <li><a href="#">Bookshelves (16)</a></li>
                                <li><a href="#">Coffee & Accent Tables (17)</a></li>
                            </ul>
                        </div>
                        <!-- Categories Module End -->
                        <!-- Filter Option Start -->
                        <div class="flter-option mb-80">
                            <h3>PRICE FILTER</h3>
                            <form action="#">
                                <div id="slider-range"></div>
                                <input type="text" id="amount" class="amount" readonly>
                            </form>
                        </div>
                        <!-- Filter Option End -->
                        <!-- Categories Color Start -->
                        <div class="cat-color mb-80">
                            <h3>Color</h3>
                            <ul class="cat-color-list">
                                <li><a href="#">Black (13)</a></li>
                                <li><a href="#">Blue (13)</a></li>
                                <li><a href="#">Grey (13)</a></li>
                                <li><a href="#">Green (13)</a></li>
                                <li><a href="#">Red (13)</a></li>
                            </ul>
                        </div>
                        <!-- Categories Color End -->
                        <!-- Manufactures List Start -->
                        <div class="manufactures mb-80">
                            <h3>MANUFACTURERS</h3>
                            <ul class="manufactures-list">
                                <li><a href="#">Manufacturers 1 (14)</a></li>
                                <li><a href="#">Manufacturers 2 (13)</a></li>
                                <li><a href="#">Manufacturers 3 (13)</a></li>
                                <li><a href="#">Manufacturers 4 (14)</a></li>
                                <li><a href="#">Manufacturers 5 (13)</a></li>
                            </ul>
                        </div>
                        <!-- Manufactures List End -->
                        <!-- Most Viewed Product Start -->
                        <div class="most-viewed">
                            <h3>most viewed</h3>
                            <!-- Most Viewed Product Activation Start -->
                            <div class="most-viewed-product owl-carousel">

                                {{#each mostViewProducts}}
                                <!-- Triple Product Start -->
                                <div class="triple-product">
                                    <!-- Single Product Start -->
                                    <div class="single-product mb-25">
                                        <!-- Product Image Start -->
                                        <div class="pro-img">
                                            <a href="{{createURLProduct this.one.urlSeo}}">
                                                <img class="primary-img"
                                                    src="{{getAvatarImage 'primary' this.one.listImages}}"
                                                    alt="single-product">
                                                <img class="secondary-img"
                                                    src="{{getAvatarImage 'secondary' this.one.listImages}}"
                                                    alt="single-product">
                                            </a>
                                        </div>
                                        <!-- Product Image End -->
                                        <!-- Product Content Start -->
                                        <div class="pro-content">
                                            <h4><a href="{{createURLProduct this.one.urlSeo}}">

                                                    {{this.one.name}}</a></h4>
                                            <p data-price="{{this.one.price}}" class="price product-price-vnd">
                                                <span>{{this.one.price}}</span></p>
                                        </div>
                                        <!-- Product Content End -->
                                    </div>
                                    <!-- Single Product End -->
                                    <!-- Single Product Start -->
                                    <div class="single-product mb-25">
                                        <!-- Product Image Start -->
                                        <div class="pro-img">
                                            <a href="{{createURLProduct this.two.urlSeo}}">
                                                <img class="primary-img"
                                                    src="{{getAvatarImage 'primary' this.two.listImages}}"
                                                    alt="single-product">
                                                <img class="secondary-img"
                                                    src="{{getAvatarImage 'secondary' this.two.listImages}}"
                                                    alt="single-product">
                                            </a>
                                        </div>
                                        <!-- Product Image End -->
                                        <!-- Product Content Start -->
                                        <div class="pro-content">
                                            <h4><a href="{{createURLProduct this.two.urlSeo}}">{{this.two.name}}</a>
                                            </h4>
                                            <p data-price="{{this.two.price}}" class="price product-price-vnd">
                                                <span>{{this.two.price}}</span></p>
                                        </div>
                                        <!-- Product Content End -->
                                    </div>
                                    <!-- Single Product End -->
                                    <!-- Single Product Start -->
                                    <div class="single-product mb-25">
                                        <!-- Product Image Start -->
                                        <div class="pro-img">
                                            <a href="{{createURLProduct this.three.urlSeo}}">
                                                <img class="primary-img"
                                                    src="{{getAvatarImage 'primary' this.three.listImages}}"
                                                    alt="single-product">
                                                <img class="secondary-img"
                                                    src="{{getAvatarImage 'secondary' this.three.listImages}}"
                                                    alt="single-product">
                                            </a>
                                        </div>
                                        <!-- Product Image End -->
                                        <!-- Product Content Start -->
                                        <div class="pro-content">
                                            <h4><a href="{{createURLProduct this.three.urlSeo}}">{{this.three.name}}</a>
                                            </h4>
                                            <p data-price="{{this.three.price}}" class="price product-price-vnd">
                                                <span>{{this.three.price}}</span></p>
                                        </div>
                                        <!-- Product Content End -->
                                    </div>
                                    <!-- Single Product End -->
                                </div>
                                <!-- Triple Product End -->


                                {{/each}}
                            </div>
                            <!-- Most Viewed Product Activation End -->
                        </div>
                        <!-- Most Viewed Product End -->
                    </aside>
                </div>
                <!-- Sidebar End -->
            </div>
            <!-- Row End -->
        </div>
        <!-- Container End -->
    </div>
    <!-- Categories Product End -->
    <!-- Footer Start -->
    <footer>

        <!-- Footer Middle Start -->
        {{>client/footer/footer-middle}}
        <!-- Footer Middle End -->

        <!-- Footer Bottom Start -->
        {{>client/footer/footer-bottom}}
        <!-- Footer Bottom End -->

    </footer>
    <!-- Footer End -->
    <!-- Quick View Content Start -->
    {{>client/modal/quick-view-product}}
    <!-- Quick View Content End -->
</div>