<div class="wrapper">
    <!-- Preloader Start -->
    <div class="preloader">
        <div class="loading-center">
            <div class="loading-center-absolute">
                <div class="object object_one"></div>
                <div class="object object_two"></div>
                <div class="object object_three"></div>
            </div>
        </div>
    </div>
    <!-- Preloader End -->

    <!-- Header Area Start -->
    {{>client/main-header}}
    <!-- Header Area End -->

    <!-- Page Breadcrumb Start -->
    <div class="main-breadcrumb mb-100">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="breadcrumb-content text-center ptb-70">
                        <ul class="breadcrumb-list breadcrumb">
                            <li><a href="/">Trang Chủ</a></li>
                            <li class="active"><a href="#">Đặt Hàng</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Breadcrumb End -->
    <!-- coupon-area start -->
    <div class="coupon-area">
        <div class="container">
            <!-- Section Title Start -->
            <div class="section-title mb-50">
                <h2>Đặt Hàng</h2>
            </div>
            <!-- Section Title Start End -->
            <div class="row">
                <div class="col-md-12">
                    <div class="coupon-accordion">
                        <!-- ACCORDION START -->
                        <h3> HOT LINE: <strong class="text-danger">0356.125.026</strong></h3>
                        <!-- ACCORDION END -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- coupon-area end -->
    <!-- checkout-area start -->
    <div class="checkout-area pt-30">
        <div class="container">
            <div class="row">
                <form id="order-form" action="" method="POST">
                    <div class="col-lg-6 col-md-6">
                        <div class="checkbox-form pb-50">
                            <h3>CHI TIẾT ĐƠN HÀNG</h3>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="checkout-form-list mb-30">
                                        <label>Tên Của Bạn <span class="required">*</span></label>
                                        <input  required="" maxlength="100"  name="name" type="text" placeholder="Điền tên của bạn..." />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="checkout-form-list mb-30">
                                        <label>Địa chỉ <span class="required">*</span></label>
                                        <input minlength="5" maxlength="100" required="" name="address" type="text" placeholder="Địa Chỉ Nhận Hàng..." />
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="checkout-form-list mb-30">
                                        <label>Số Điện Thoại<span class="required">*</span></label>
                                        <input required="" name="phone" minlength="6" maxlength="15" type="text" placeholder="Số điện thoại nhận hàng..." />
                                    </div>
                                </div>
                                <div class="col-md-12 order-notes">
                                    <div class="checkout-form-list">
                                        <label>Ghi Chú</label>
                                        <textarea maxlength="800" name="note" cols="30" rows="10" placeholder="Ghi chú cho đơn hàng của bạn..."></textarea>
                                    </div>
                                </div>
           
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="your-order">
                            <h3>ĐƠN HÀNG CỦA BẠN</h3>
                            <div class="your-order-table table-responsive">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="product-name">Tên</th>
                                            <th class="product-total">Giá</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        {{#each cart.listCartProducts}}
                                        <tr class="cart_item">
                                            <td class="product-name">
                                                {{this.name}} <strong class="product-quantity"> × {{this.quantity}}
                                                </strong>
                                            </td>
                                            <td class="product-total">
                                                <span data-price="{{this.price}}"
                                                    class="amount product-price-vnd">{{this.price}}</span>
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                    <tfoot>
                                        <tr class="cart-subtotal">
                                            <th>Phí ship</th>
                                            <td><span data-price="35000" class="amount product-price-vnd">35000</span></td>
                                        </tr>
                                        <tr class="order-total">
                                            <th>Tổng Đơn Hàng</th>
                                            <td><strong><span id="totalMoney" data-price="{{getTotalPrice cart.listCartProducts 'include-fee'}}" class="amount product-price-vnd">{{getTotalPrice cart.listCartProducts 'include-fee'}}</span></strong>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="payment-method">
                                <div class="payment-accordion">
                                    <div class="order-button-payment">
                                        <input id="subMitFormOrder" form="formOrder"  type="submit" value="ĐẶT HÀNG NGAY" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- checkout-area end -->
    <!-- Footer Start -->
    <footer>
        <!-- Footer Middle Start -->
        {{>client/footer/footer-middle}}
        <!-- Footer Middle End -->
        <!-- Footer Bottom Start -->
        {{>client/footer/footer-bottom}}
        <!-- Footer Bottom End -->
    </footer>
    <!-- Footer End -->
</div>
<script src="/client/order.js"></script>