<!--[if lt IE 8]>
	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
<!-- Wrapper Start -->
<div class="wrapper">
    <!-- Preloader Start -->
    <div class="preloader">
        <div class="loading-center">
            <div class="loading-center-absolute">
                <div class="object object_one"></div>
                <div class="object object_two"></div>
                <div class="object object_three"></div>
            </div>
        </div>
    </div>
    <!-- Preloader End -->

    <!-- Newsletter Popup Start -->
    {{>client/modal/subscribe}}
    <!-- Newsletter Popup End -->

    <!-- Header Area Start -->
    <header>
        <div class="container-fluid header-top-area header-sticky">
            <div class="row">
                <!-- Logo Start -->
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-5 full-col pl-0">
                    <div class="logo">
                        <a href="/"><img src="img/logo/logo.png" alt="brand-image"></a>
                    </div>
                </div>
                <!-- Logo End -->
                <div class="col-xs-12 visible-xs visible-control">
                    <ul class="search-form mobile-form">
                        <li>
                            <form action="#">
                                <input type="text" class="search" name="search" placeholder="Search for products...">
                            </form>
                            <i class="pe-7s-search"></i>
                        </li>
                    </ul>
                </div>
                <!-- Primary-Menu Start -->
                <div class="col-lg-7 col-md-7 col-sm-12  hidden-sm hidden-xs">
                    <div class="primary-menu">
                        <nav>
                            <ul class="primary-menu-list text-center">
                                <li><a href="index.html">home<i class="pe-7s-angle-down"></i></a>
                                    <!-- Home Version Dropdown Start -->
                                    <ul class="ht-dropdown">
                                        <li><a href="index.html">Home Version 1</a></li>
                                        <li><a href="home-2.html">Home Version 2</a></li>
                                        <li><a href="home-3.html">Home Version 3</a></li>
                                        <li><a href="home-4.html">Home Version 4</a></li>
                                    </ul>
                                    <!-- Home Version Dropdown End -->
                                </li>
                                <li><a href="#">furniture<i class="pe-7s-angle-down"></i></a>
                                    <!-- Mega Menu Start -->
                                    <ul class="ht-dropdown mega-menu">
                                        <!-- Single Mega Sub Menu Start -->
                                        <li>
                                            <h3>SOFAS & LOVESEATSs</h3>
                                            <ul>
                                                <li><a href="categorie-page.html">convallis neceros</a></li>
                                                <li><a href="categorie-page.html">Outdoor Rugs</a></li>
                                                <li><a href="categorie-page.html">Mice and Trackballs</a></li>
                                                <li><a href="categorie-page.html">Cameras</a></li>
                                            </ul>
                                        </li>
                                        <!-- Single Mega Sub Menu Start -->
                                        <!-- Single Mega Sub Menu Start -->
                                        <li>
                                            <h3>Chairs & Recliners</h3>
                                            <ul>
                                                <li><a href="categorie-page.html">commodo nunc</a></li>
                                                <li><a href="categorie-page.html">dignissim porta</a></li>
                                                <li><a href="categorie-page.html">necvelit dignissim</a></li>
                                                <li><a href="categorie-page.html">venenatis lacinia</a></li>
                                            </ul>
                                        </li>
                                        <!-- Single Mega Sub Menu Start -->
                                    </ul>
                                    <!-- Mega Menu End -->
                                </li>
                                <li class="static-menu"><a href="#">decor<i class="pe-7s-angle-down"></i></a>
                                    <!-- Mega Menu Start -->
                                    <ul class="ht-dropdown mega-menu-2">
                                        <!-- Single Mega Sub Menu Start -->
                                        <li>
                                            <h3>Art Gallery</h3>
                                            <ul>
                                                <li><a href="categorie-page.html">congue nonorna</a></li>
                                                <li><a href="categorie-page.html">Etiam sapien</a></li>
                                                <li><a href="categorie-page.html">Outdoor Lighting</a></li>
                                                <li><a href="categorie-page.html">sapien enim</a></li>
                                            </ul>
                                        </li>
                                        <!-- Single Mega Sub Menu Start -->
                                        <!-- Single Mega Sub Menu Start -->
                                        <li>
                                            <h3>Lighting</h3>
                                            <ul>
                                                <li><a href="categorie-page.html">commodo nunc</a></li>
                                                <li><a href="categorie-page.html">elementum dolor</a></li>
                                                <li><a href="categorie-page.html">ligula velvenen</a></li>
                                                <li><a href="categorie-page.html">Vestibulum tempor</a></li>
                                            </ul>
                                        </li>
                                        <!-- Single Mega Sub Menu Start -->
                                        <!-- Single Mega Sub Menu Start -->
                                        <li>
                                            <h3>Rugs</h3>
                                            <ul>
                                                <li><a href="categorie-page.html">blandit vehicula</a></li>
                                                <li><a href="categorie-page.html">Praesent molestie</a></li>
                                                <li><a href="categorie-page.html">sagittis ipsum</a></li>
                                                <li><a href="categorie-page.html">venenatis innunc</a></li>
                                            </ul>
                                        </li>
                                        <!-- Single Mega Sub Menu Start -->
                                        <!-- Single Mega Sub Menu Start -->
                                        <li>
                                            <h3>Throw Pillows</h3>
                                            <ul>
                                                <li><a href="categorie-page.html">Fire Pits</a></li>
                                                <li><a href="categorie-page.html">Garden Accents</a></li>
                                                <li><a href="categorie-page.html">Outdoor Fountains</a></li>
                                                <li><a href="categorie-page.html">Patio Heaters</a></li>
                                            </ul>
                                        </li>
                                        <!-- Single Mega Sub Menu Start -->
                                    </ul>
                                    <!-- Mega Menu End -->
                                </li>
                                <li><a href="#">pages<i class="pe-7s-angle-down"></i></a>
                                    <!-- Home Version Dropdown Start -->
                                    <ul class="ht-dropdown">
                                        <li><a href="categorie-page.html">shop</a></li>
                                        <li><a href="product-page.html">Product Details</a></li>
                                        <li><a href="cart.html">cart</a></li>
                                        <li><a href="checkout.html">checkout</a></li>
                                        <li><a href="wish-list.html">wish list</a></li>
                                        <li><a href="blog.html">blog</a></li>
                                        <li><a href="blog-details.html">blog details</a></li>
                                        <li><a href="contact.html">contact</a></li>
                                        <li><a href="privacy.html">Privacy Policy</a></li>
                                        <li><a href="404.html">404</a></li>
                                    </ul>
                                    <!-- Home Version Dropdown End -->
                                </li>
                                <li><a href="/about-us">about us</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- Primary-Menu End -->
                <!-- Header All Shopping Selection Start -->
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-7 full-col pr-0">
                    <div class="main-selection">
                        <ul class="selection-list text-right">
                            <!-- Searcch Box Start -->
                            <li class="hidden-control"><i class="pe-7s-search"></i>
                                <ul class="search-form ht-dropdown">
                                    <li>
                                        <form action="#">
                                            <input type="text" class="search" name="search"
                                                placeholder="Tìm kiếm sản phẩm...">
                                        </form>
                                        <i class="pe-7s-search"></i>
                                    </li>
                                </ul>
                            </li>
                            <!-- Search Box End -->
                            
                             <!-- Cart and wishlist icon -->
                              {{>client/cart-header/cart}}
                            <!--End Cart and wishlist icon -->

                            <!-- Dropdown Currency Selection Start -->
                            <li><i class="pe-7s-config"></i>
                                <ul class="ht-dropdown currrency">
                                    <li>
                                        <h3>currency</h3>
                                        <ul class="mb-15">
                                            <li>€ euro</li>
                                            <li>£ pound sterling</li>
                                            <li>$ us dollar</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <h3>language</h3>
                                        <ul class="mb-15">
                                            <li><img src="img/menu/2.png" alt="menu-icon">english</li>
                                            <li><img src="img/menu/1.png" alt="menu-icon">french</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <h3>my account</h3>
                                        <ul>
                                            <li><a href="register.html">register</a></li>
                                            <li><a href="account.html">My Account</a></li>
                                            <li><a href="log-in.html">log in</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <!-- Dropdown Currency Selection End -->
                        </ul>
                    </div>
                </div>
                <!-- Header All Shopping Selection End -->
                <!-- Mobile Menu  Start -->
                <div class="mobile-menu visible-sm visible-xs">
                    <nav>
                        <ul>
                            <li><a href="#">Home</a>
                                <!-- Mobile Menu Dropdown Start -->
                                <ul>
                                    <li><a href="index.html">Home Version 1</a></li>
                                    <li><a href="home-2.html">Home Version 2</a></li>
                                    <li><a href="home-3.html">Home Version 3</a></li>
                                    <li><a href="home-4.html">Home Version 4</a></li>
                                </ul>
                                <!-- Mobile Menu Dropdown End -->
                            </li>
                            <li><a href="#">Furniture</a>
                                <!-- Mobile Menu Dropdown Start -->
                                <ul>
                                    <li><a href="#">sofas & loveseats</a>
                                        <!-- Mobile Menu Sub-Dropdown Start -->
                                        <ul>
                                            <li><a href="categorie-page.html">convallis neceros</a></li>
                                            <li><a href="categorie-page.html">Outdoor Rugs</a></li>
                                            <li><a href="categorie-page.html">Mice and Trackballs</a></li>
                                            <li><a href="categorie-page.html">Cameras</a></li>
                                        </ul>
                                        <!-- Mobile Menu Sub-Dropdown End -->
                                    </li>
                                    <li><a href="#">chairs & recliners</a>
                                        <!-- Mobile Menu Sub-Dropdown Start -->
                                        <ul>
                                            <li><a href="categorie-page.html">commodo nunc</a></li>
                                            <li><a href="categorie-page.html">dignissim porta</a></li>
                                            <li><a href="categorie-page.html">necvelit dignissim</a></li>
                                            <li><a href="categorie-page.html">venenatis lacinia</a></li>
                                        </ul>
                                        <!-- Mobile Menu Sub-Dropdown End -->
                                    </li>
                                </ul>
                                <!-- Mobile Menu Dropdown End -->
                            </li>
                            <li><a href="#">decor</a>
                                <!-- Mobile Menu Dropdown Start -->
                                <ul>
                                    <li><a href="#">art gallery</a>
                                        <!-- Mobile Menu Sub-Dropdown Start -->
                                        <ul>
                                            <li><a href="categorie-page.html">congue nonorna</a></li>
                                            <li><a href="categorie-page.html">Etiam sapien</a></li>
                                            <li><a href="categorie-page.html">Outdoor Lighting</a></li>
                                            <li><a href="categorie-page.html">sapien enim</a></li>
                                        </ul>
                                        <!-- Mobile Menu Sub-Dropdown End -->
                                    </li>
                                    <li><a href="#">lighting</a>
                                        <!-- Mobile Menu Sub-Dropdown Start -->
                                        <ul>
                                            <li><a href="categorie-page.html">commodo nunc</a></li>
                                            <li><a href="categorie-page.html">elementum dolor</a></li>
                                            <li><a href="categorie-page.html">ligula velvenen</a></li>
                                            <li><a href="categorie-page.html">Vestibulum tempor</a></li>
                                        </ul>
                                        <!-- Mobile Menu Sub-Dropdown End -->
                                    </li>
                                    <li><a href="#">rugs</a>
                                        <!-- Mobile Menu Sub-Dropdown Start -->
                                        <ul>
                                            <li><a href="categorie-page.html">blandit vehicula</a></li>
                                            <li><a href="categorie-page.html">Praesent molestie</a></li>
                                            <li><a href="categorie-page.html">sagittis ipsum</a></li>
                                            <li><a href="categorie-page.html">venenatis innunc</a></li>
                                        </ul>
                                        <!-- Mobile Menu Sub-Dropdown End -->
                                    </li>
                                    <li><a href="#">throw pillows</a>
                                        <!-- Mobile Menu Sub-Dropdown Start -->
                                        <ul>
                                            <li><a href="categorie-page.html">Fire Pits</a></li>
                                            <li><a href="categorie-page.html">Garden Accents</a></li>
                                            <li><a href="categorie-page.html">Outdoor Fountains</a></li>
                                            <li><a href="categorie-page.html">Patio Heaters</a></li>
                                        </ul>
                                        <!-- Mobile Menu Sub-Dropdown End -->
                                    </li>
                                </ul>
                                <!-- Mobile Menu Dropdown End -->
                            </li>
                            <li><a href="#">pages</a>
                                <!-- Home Version Dropdown Start -->
                                <ul>
                                    <li><a href="categorie-page.html">shop</a></li>
                                    <li><a href="product-page.html">Product Details</a></li>
                                    <li><a href="cart.html">cart</a></li>
                                    <li><a href="checkout.html">checkout</a></li>
                                    <li><a href="wish-list.html">wish list</a></li>
                                    <li><a href="blog.html">blog</a></li>
                                    <li><a href="blog-details.html">blog details</a></li>
                                    <li><a href="contact.html">contact</a></li>
                                    <li><a href="privacy.html">Privacy Policy</a></li>
                                    <li><a href="404.html">404</a></li>
                                </ul>
                                <!-- Home Version Dropdown End -->
                            </li>
                            <li><a href="about-us.html">about us</a></li>
                        </ul>
                    </nav>
                </div>
                <!-- Mobile Menu  End -->
            </div>
        </div>
    </header>
    <!-- Header Area End -->

    <!-- Slider Area Start -->
       {{>client/slider-home}}
    <!-- Slider Area End -->

    <!-- New Products Selection Start -->
    <div class="new-products-selection pb-80">
        <div class="container">
            <div class="row">
                <!-- Section Title Start -->
                <div class="col-xs-12">
                    <div class="section-title text-center mb-40">
                        <span class="section-desc mb-15">Top new in this week</span>
                        <h3 class="section-info">new products</h3>
                    </div>
                </div>
                <!-- Section Title End -->
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <!-- New Products Activation Start -->
                    <div class="new-products owl-carousel">
                        {{#each newProducts}}
                        <!-- Double Product Start -->
                        <div class="double-products">
                            <!-- Single Product Start -->
                            <div class="single-product mb-25">
                                <!-- Product Image Start -->
                                <div class="pro-img">
                                    <a href="{{ createURLProduct this.one.urlSeo}}">
                                        <img class="primary-img" src="{{getAvatarImage 'primary' this.one.listImages}}"
                                            alt="single-product">
                                        <img class="secondary-img"
                                            src="{{getAvatarImage 'secondary' this.one.listImages}}"
                                            alt="single-product">
                                    </a>
                                    <div class="quick-view">
                                        <a class="show-quick-modal" data-idproduct="{{this.one._id}}"><i
                                                class="pe-7s-look"></i>quick view</a>
                                    </div>
                                    <span class="sticker-new">{{this.one.type}}</span>
                                </div>
                                <!-- Product Image End -->
                                <!-- Product Content Start -->
                                <div class="pro-content text-center">
                                    <h4><a href="{{ createURLProduct this.one.urlSeo}}">{{this.one.name}}</a></h4>
                                    <p data-price="{{this.one.price}}" class="product-price-vnd price">
                                        <span>{{this.one.price}}</span></p>
                                    <div class="action-links2">
                                        <a class="add-product-to-cart"   data-product="{{objectToString this.one}}"  data-toggle="tooltip" 
                                        title="Add to Cart" >add to cart</a>
                                    </div>
                                </div>
                                <!-- Product Content End -->
                            </div>
                            <!-- Single Product End -->
                            <!-- Single Product Start -->
                            <div class="single-product">
                                <!-- Product Image Start -->
                                <div class="pro-img">
                                    <a href="{{ createURLProduct this.two.urlSeo}}">
                                        <img class="primary-img" src="{{getAvatarImage 'primary' this.two.listImages}}"
                                            alt="single-product">
                                        <img class="secondary-img"
                                            src="{{getAvatarImage 'secondary' this.two.listImages}}"
                                            alt="single-product">
                                    </a>
                                    <div class="quick-view">
                                        <a class="show-quick-modal" data-idproduct="{{this.two._id}}" href="#"
                                            data-toggle="modal" data-target="#myModal"><i class="pe-7s-look"></i>quick
                                            view</a>
                                    </div>
                                    <span class="sticker-new">{{this.two.type}}</span>
                                </div>
                                <!-- Product Image End -->
                                <!-- Product Content Start -->
                                <div class="pro-content text-center">
                                    <h4><a href="{{ createURLProduct this.two.urlSeo}}">{{this.two.name}}</a></h4>
                                    <p data-price="{{this.two.price}}" class="price product-price-vnd">
                                        <span>{{this.two.price}}</span></p>
                                    <div class="action-links2">
                                        <a class="add-product-to-cart"  data-product="{{objectToString this.two}}"    data-toggle="tooltip" title="Add to Cart" >add to
                                            cart</a>
                                    </div>
                                </div>
                                <!-- Product Content End -->
                            </div>
                            <!-- Single Product End -->
                        </div>
                        <!-- Double Product End -->
                        {{/each}}
                    </div>
                    <!-- New Products Activation End -->
                </div>
            </div>
            <!-- Row End -->
        </div>
        <!-- Container End -->
    </div>
    <!-- New Products Selection End -->
    <!-- New Products Banner Start -->
    <div class="new-products-banner pb-100">
        <div class="container">
            <div class="row">
                <!-- Single Banner Start -->
                <div class="col-sm-4">
                    <div class="single-banner zoom mb-30">
                        <img src="img/products-banner/1.jpg" alt="product-banner">
                        <div class="banner-desc">
                            <a href="categorie-page.html">Decorative Accessories</a>
                            <p>25 products</p>
                        </div>
                    </div>
                </div>
                <!-- Single Banner End -->
                <!-- Single Banner Start -->
                <div class="col-sm-8">
                    <div class="single-banner zoom mb-30">
                        <img src="img/products-banner/2.jpg" alt="product-banner">
                        <div class="banner-desc">
                            <a href="categorie-page.html">Chairs & Recliners</a>
                            <p>25 products</p>
                        </div>
                    </div>
                </div>
                <!-- Single Banner End -->
                <!-- Single Banner Start -->
                <div class="col-sm-8">
                    <div class="single-banner zoom">
                        <img src="img/products-banner/3.jpg" alt="product-banner">
                        <div class="banner-desc">
                            <a href="categorie-page.html">Sofas & Loveseats</a>
                            <p>25 products</p>
                        </div>
                    </div>
                </div>
                <!-- Single Banner End -->
                <!-- Single Banner Start -->
                <div class="col-sm-4">
                    <div class="single-banner zoom">
                        <img src="img/products-banner/4.jpg" alt="product-banner">
                        <div class="banner-desc">
                            <a href="categorie-page.html">Window Treatments</a>
                            <p>25 products</p>
                        </div>
                    </div>
                </div>
                <!-- Single Banner End -->
            </div>
            <!-- Row End -->
        </div>
        <!-- Container End -->
    </div>
    <!-- New Products Banner End -->
    <!-- Best Seller Products Start -->
    <div class="best-seller-products pb-100">
        <div class="container">
            <div class="row">
                <!-- Section Title Start -->
                <div class="col-xs-12">
                    <div class="section-title text-center mb-40">
                        <span class="section-desc mb-20">Top sale in this week</span>
                        <h3 class="section-info">best seller</h3>
                    </div>
                </div>
                <!-- Section Title End -->
            </div>
            <!-- Row End -->
            <div class="row">
                <div class="col-sm-12">
                    <!-- Best Seller Product Activation Start -->
                    <div class="best-seller new-products owl-carousel">
                        <!-- Single Product Start -->
                        <div class="single-product">
                            <!-- Product Image Start -->
                            <div class="pro-img">
                                <a href="product-page.html">
                                    <img class="primary-img" src="img/new-products/1_2.jpg" alt="single-product">
                                    <img class="secondary-img" src="img/new-products/5_1.jpg" alt="single-product">
                                </a>
                                <div class="quick-view">
                                    <a href="#" data-toggle="modal" data-target="#myModal"><i
                                            class="pe-7s-look"></i>quick view</a>
                                </div>
                                <span class="sticker-new">new</span>
                            </div>
                            <!-- Product Image End -->
                            <!-- Product Content Start -->
                            <div class="pro-content text-center">
                                <h4><a href="product-page.html">Decorative Vase</a></h4>
                                <p class="price"><span>$241.99</span></p>
                                <div class="action-links2">
                                    <a data-toggle="tooltip" title="Add to Cart" href="cart.html">add to cart</a>
                                </div>
                            </div>
                            <!-- Product Content End -->
                        </div>
                        <!-- Single Product End -->
                        <!-- Single Product Start -->
                        <div class="single-product">
                            <!-- Product Image Start -->
                            <div class="pro-img">
                                <a href="product-page.html">
                                    <img class="primary-img" src="img/new-products/3_1.jpg" alt="single-product">
                                    <img class="secondary-img" src="img/new-products/6_2.jpg" alt="single-product">
                                </a>
                                <div class="quick-view">
                                    <a href="#" data-toggle="modal" data-target="#myModal"><i
                                            class="pe-7s-look"></i>quick view</a>
                                </div>
                            </div>
                            <!-- Product Image End -->
                            <!-- Product Content Start -->
                            <div class="pro-content text-center">
                                <h4><a href="product-page.html">Decorative Vase</a></h4>
                                <p class="price"><span>$241.99</span></p>
                                <div class="action-links2">
                                    <a data-toggle="tooltip" title="Add to Cart" href="cart.html">add to cart</a>
                                </div>
                            </div>
                            <!-- Product Content End -->
                        </div>
                        <!-- Single Product End -->
                        <!-- Single Product Start -->
                        <div class="single-product">
                            <!-- Product Image Start -->
                            <div class="pro-img">
                                <a href="product-page.html">
                                    <img class="primary-img" src="img/new-products/1_1.jpg" alt="single-product">
                                    <img class="secondary-img" src="img/new-products/2_2.jpg" alt="single-product">
                                </a>
                                <div class="quick-view">
                                    <a href="#" data-toggle="modal" data-target="#myModal"><i
                                            class="pe-7s-look"></i>quick view</a>
                                </div>
                                <span class="sticker-new">new</span>
                            </div>
                            <!-- Product Image End -->
                            <!-- Product Content Start -->
                            <div class="pro-content text-center">
                                <h4><a href="product-page.html">Decorative Vase</a></h4>
                                <p class="price"><span>$241.99</span></p>
                                <div class="action-links2">
                                    <a data-toggle="tooltip" title="Add to Cart" href="cart.html">add to cart</a>
                                </div>
                            </div>
                            <!-- Product Content End -->
                        </div>
                        <!-- Single Product End -->
                        <!-- Single Product Start -->
                        <div class="single-product">
                            <!-- Product Image Start -->
                            <div class="pro-img">
                                <a href="product-page.html">
                                    <img class="primary-img" src="img/new-products/6_1.jpg" alt="single-product">
                                    <img class="secondary-img" src="img/new-products/6_2.jpg" alt="single-product">
                                </a>
                                <div class="quick-view">
                                    <a href="#" data-toggle="modal" data-target="#myModal"><i
                                            class="pe-7s-look"></i>quick view</a>
                                </div>
                                <span class="sticker-new">new</span>
                            </div>
                            <!-- Product Image End -->
                            <!-- Product Content Start -->
                            <div class="pro-content text-center">
                                <h4><a href="product-page.html">Decorative Vase</a></h4>
                                <p class="price"><span>$241.99</span></p>
                                <div class="action-links2">
                                    <a data-toggle="tooltip" title="Add to Cart" href="cart.html">add to cart</a>
                                </div>
                            </div>
                            <!-- Product Content End -->
                        </div>
                        <!-- Single Product End -->
                        <!-- Single Product Start -->
                        <div class="single-product">
                            <!-- Product Image Start -->
                            <div class="pro-img">
                                <a href="product-page.html">
                                    <img class="primary-img" src="img/new-products/2_1.jpg" alt="single-product">
                                    <img class="secondary-img" src="img/new-products/2_2.jpg" alt="single-product">
                                </a>
                                <div class="quick-view">
                                    <a href="#" data-toggle="modal" data-target="#myModal"><i
                                            class="pe-7s-look"></i>quick view</a>
                                </div>
                                <span class="sticker-new">new</span>
                            </div>
                            <!-- Product Image End -->
                            <!-- Product Content Start -->
                            <div class="pro-content text-center">
                                <h4><a href="product-page.html">Decorative Vase</a></h4>
                                <p class="price"><span>$241.99</span></p>
                                <div class="action-links2">
                                    <a data-toggle="tooltip" title="Add to Cart" href="cart.html">add to cart</a>
                                </div>
                            </div>
                            <!-- Product Content End -->
                        </div>
                        <!-- Single Product End -->
                        <!-- Single Product Start -->
                        <div class="single-product">
                            <!-- Product Image Start -->
                            <div class="pro-img">
                                <a href="product-page.html">
                                    <img class="primary-img" src="img/new-products/8_1.jpg" alt="single-product">
                                    <img class="secondary-img" src="img/new-products/3_2.jpg" alt="single-product">
                                </a>
                                <div class="quick-view">
                                    <a href="#" data-toggle="modal" data-target="#myModal"><i
                                            class="pe-7s-look"></i>quick view</a>
                                </div>
                                <span class="sticker-new">new</span>
                            </div>
                            <!-- Product Image End -->
                            <!-- Product Content Start -->
                            <div class="pro-content text-center">
                                <h4><a href="product-page.html">Decorative Vase</a></h4>
                                <p class="price"><span>$241.99</span></p>
                                <div class="action-links2">
                                    <a data-toggle="tooltip" title="Add to Cart" href="cart.html">add to cart</a>
                                </div>
                            </div>
                            <!-- Product Content End -->
                        </div>
                        <!-- Single Product End -->
                    </div>
                    <!-- Best Seller Product Activation Start -->
                    <div class="text-center shop-link-page mt-50"><a href="best-seller.html">Shop All Best
                            Sellers</a></div>
                </div>
            </div>
            <!-- Row End -->
        </div>
        <!-- Container End -->
    </div>
    <!-- Best Seller Products End -->
    <!-- Big Banner CSS Start -->
    <div class="big-banner-ads">
        <div class="big-banner">
            <div class="big-banner-desc text-center">
                <h2>GET OUR CATALOGUE</h2>
                <p>Receive free monthly catalogue showcasing the best in modern <br> furniture design with some
                    outstanding features!</p>
                <a href="categorie-page.html">shop now</a>
            </div>
        </div>
    </div>
    <!-- Big Banner CSS End -->
    <!-- Latest Blog Start -->
    <div class="latest-blog off-white-bg ptb-100">
        <div class="container">
            <div class="row">
                <!-- Section Title Start -->
                <div class="col-xs-12">
                    <div class="section-title text-center mb-40">
                        <span class="section-desc mb-20">Latest News From Our Blog</span>
                        <h3 class="section-info">LATEST BLOGS</h3>
                    </div>
                </div>
                <!-- Section Title End -->
            </div>
            <!-- Row End -->
            <div class="row">
                <div class="col-sm-12">
                    <!-- Blog Activation Start -->
                    <div class="blog owl-carousel">
                        <!-- Single Blog Start -->
                        <div class="single-blog">
                            <div class="blog-img">
                                <a href="blog-details.html"><img src="img/blog/1.jpg" alt="blog-image"></a>
                            </div>
                            <div class="blog-content">
                                <div class="blog-content-upper">
                                    <h6 class="blog-title"><a href="blog-details.html">Amber Interiors</a></h6>
                                    <p>Interior designer Amber Lewis’s blog takes you inside the creative workings
                                        of her Los Angeles–based studio.</p>
                                </div>
                                <div class="blog-content-lower">
                                    <a href="https://themeforest.net/user/Nevara">Nevara</a>
                                    <span class="f-right">05 Nov, 2017</span>
                                </div>
                            </div>
                        </div>
                        <!-- Single Blog End -->
                        <!-- Single Blog Start -->
                        <div class="single-blog">
                            <div class="blog-img">
                                <a href="blog-details.html"><img src="img/blog/2.jpg" alt="blog-image"></a>
                            </div>
                            <div class="blog-content">
                                <div class="blog-content-upper">
                                    <h6 class="blog-title"><a href="blog-details.html">Coco Lapine Design</a></h6>
                                    <p>The blog of Belgian designer Sarah Van Peteghem, Coco Lapine Design is the
                                        space where she shares all.</p>
                                </div>
                                <div class="blog-content-lower">
                                    <a href="https://themeforest.net/user/Nevara">Nevara</a>
                                    <span class="f-right">04 Oct, 2017</span>
                                </div>
                            </div>
                        </div>
                        <!-- Single Blog End -->
                        <!-- Single Blog Start -->
                        <div class="single-blog">
                            <div class="blog-img">
                                <a href="blog-details.html"><img src="img/blog/3.jpg" alt="blog-image"></a>
                            </div>
                            <div class="blog-content">
                                <div class="blog-content-upper">
                                    <h6 class="blog-title"><a href="blog-details.html">Style by Emily Henderson</a>
                                    </h6>
                                    <p>The list wouldn’t be complete without the ever-stylish blog of interior
                                        design extraordinaire Emily Henderson.</p>
                                </div>
                                <div class="blog-content-lower">
                                    <a href="https://themeforest.net/user/Nevara">Nevara</a>
                                    <span class="f-right">16 Aug, 2017</span>
                                </div>
                            </div>
                        </div>
                        <!-- Single Blog End -->
                        <!-- Single Blog Start -->
                        <div class="single-blog">
                            <div class="blog-img">
                                <a href="blog-details.html"><img src="img/blog/1.jpg" alt="blog-image"></a>
                            </div>
                            <div class="blog-content">
                                <div class="blog-content-upper">
                                    <h6 class="blog-title"><a href="blog-details.html">Amber Interiors</a></h6>
                                    <p>Interior designer Amber Lewis’s blog takes you inside the creative workings
                                        of her Los Angeles–based studio.</p>
                                </div>
                                <div class="blog-content-lower">
                                    <a href="https://themeforest.net/user/Nevara">Nevara</a>
                                    <span class="f-right">05 Nov, 2017</span>
                                </div>
                            </div>
                        </div>
                        <!-- Single Blog End -->
                        <!-- Single Blog Start -->
                        <div class="single-blog">
                            <div class="blog-img">
                                <a href="blog-details.html"><img src="img/blog/2.jpg" alt="blog-image"></a>
                            </div>
                            <div class="blog-content">
                                <div class="blog-content-upper">
                                    <h6 class="blog-title"><a href="blog-details.html">Coco Lapine Design</a></h6>
                                    <p>Interior designer Amber Lewis’s blog takes you inside the creative workings
                                        of her Los Angeles–based studio.</p>
                                </div>
                                <div class="blog-content-lower">
                                    <a href="https://themeforest.net/user/Nevara">Nevara</a>
                                    <span class="f-right">04 Oct, 2017</span>
                                </div>
                            </div>
                        </div>
                        <!-- Single Blog End -->
                        <!-- Single Blog Start -->
                        <div class="single-blog">
                            <div class="blog-img">
                                <a href="blog-details.html"><img src="img/blog/3.jpg" alt="blog-image"></a>
                            </div>
                            <div class="blog-content">
                                <div class="blog-content-upper">
                                    <h6 class="blog-title"><a href="blog-details.html">Style by Emily Henderson</a>
                                    </h6>
                                    <p>The list wouldn’t be complete without the ever-stylish blog of interior
                                        design extraordinaire Emily Henderson.</p>
                                </div>
                                <div class="blog-content-lower">
                                    <a href="https://themeforest.net/user/Nevara">Nevara</a>
                                    <span class="f-right">05 Nov, 2017</span>
                                </div>
                            </div>
                        </div>
                        <!-- Single Blog End -->
                    </div>
                    <!-- Blog Activation End -->
                </div>
            </div>
            <!-- Row End -->
        </div>
        <!-- Container End -->
    </div>
    <!-- Latest Blog End -->

    <!-- Footer Start -->
    <footer>
        <!-- Footer Top Start -->
        <div class="footer-top ptb-50">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="banner-slider owl-carousel">
                            <!-- Single Banner Start -->
                            <div class="single-banner">
                                <a href="#"><img src="img/banner-slider/1.png" alt="banner-image"></a>
                            </div>
                            <!-- Single Banner End -->
                            <!-- Single Banner Start -->
                            <div class="single-banner">
                                <a href="#"><img src="img/banner-slider/2.png" alt="banner-image"></a>
                            </div>
                            <!-- Single Banner End -->
                            <!-- Single Banner Start -->
                            <div class="single-banner">
                                <a href="#"><img src="img/banner-slider/3.png" alt="banner-image"></a>
                            </div>
                            <!-- Single Banner End -->
                            <!-- Single Banner Start -->
                            <div class="single-banner">
                                <a href="#"><img src="img/banner-slider/4.png" alt="banner-image"></a>
                            </div>
                            <!-- Single Banner End -->
                            <!-- Single Banner Start -->
                            <div class="single-banner">
                                <a href="#"><img src="img/banner-slider/5.png" alt="banner-image"></a>
                            </div>
                            <!-- Single Banner End -->
                            <!-- Single Banner Start -->
                            <div class="single-banner">
                                <a href="#"><img src="img/banner-slider/6.png" alt="banner-image"></a>
                            </div>
                            <!-- Single Banner End -->
                            <!-- Single Banner Start -->
                            <div class="single-banner">
                                <a href="#"><img src="img/banner-slider/3.png" alt="banner-image"></a>
                            </div>
                            <!-- Single Banner End -->
                        </div>
                    </div>
                </div>
                <!-- Row End -->
            </div>
            <!-- Container End -->
        </div>
        <!-- Footer Top End -->

        <!-- Footer Middle Start -->
        {{>client/footer/footer-middle}}
        <!-- Footer Middle End -->

        <!-- Footer Bottom Start -->
        {{>client/footer/footer-bottom}}
        <!-- Footer Bottom End -->
    </footer>
    <!-- Footer End -->
    <!-- Quick View Content Start -->
    {{>client/modal/quick-view-product}}
    <!-- Quick View Content End -->
</div>
<!-- Wrapper End -->