<!--[if lt IE 8]>
	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
<!-- Wrapper Start -->
<div class="wrapper">
    {{!-- <!-- Preloader Start -->
    <div class="preloader">
        <div class="loading-center">
            <div class="loading-center-absolute">
                <div class="object object_one"></div>
                <div class="object object_two"></div>
                <div class="object object_three"></div>
            </div>
        </div>
    </div>
    <!-- Preloader End --> --}}

    <!-- Newsletter Popup Start -->
    {{!-- {{>client/modal/subscribe}} --}}
    <!-- Newsletter Popup End -->

    {{>client/main-header}}

    <!-- Slider Area Start -->
    {{>client/slider-home}}
    <!-- Slider Area End -->

    <!-- New Products Selection Start -->
    <div class="new-products-selection pb-80">
        <div class="container">
            <div class="row">
                <!-- Section Title Start -->
                <div class="col-xs-12">
                    <div class="section-title text-center mb-40">
                        <span class="section-desc mb-15">{{general.section_1_1}}</span>
                        <h3 class="section-info">{{general.section_1_2}}</h3>
                    </div>
                </div>
                <!-- Section Title End -->
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <!-- New Products Activation Start -->
                    <div class="new-products owl-carousel">
                        {{#each newProducts}}
                        <!-- Double Product Start -->
                        <div class="double-products">
                            <!-- Single Product Start -->
                            <div class="single-product mb-25">
                                <!-- Product Image Start -->
                                <div class="pro-img">
                                    <a href="{{ createURLProduct this.one.urlSeo}}">
                                        <img class="primary-img" src="{{getAvatarImage 'primary' this.one.listImages}}"
                                            alt="single-product">
                                        <img class="secondary-img"
                                            src="{{getAvatarImage 'secondary' this.one.listImages}}"
                                            alt="single-product">
                                    </a>
                                    <div class="quick-view">
                                        <a class="show-quick-modal" data-idproduct="{{this.one._id}}"><i
                                                class="pe-7s-look"></i>xem nhanh</a>
                                    </div>
                                    <span class="sticker-new">{{this.one.type}}</span>
                                </div>
                                <!-- Product Image End -->
                                <!-- Product Content Start -->
                                <div class="pro-content text-center">
                                    <h4><a href="{{ createURLProduct this.one.urlSeo}}">{{this.one.name}}</a></h4>
                                    {{!-- <p data-price="{{this.one.price}}" class="product-price-vnd price">
                                        <span>{{this.one.price}}</span></p> --}}
                                    <div style="margin-top: 1.5rem;" class="action-links2">
                                        <a class="add-wish-list" data-id="{{this.one._id}}"
                                            data-toggle="tooltip" title="Thêm vào giỏ hàng">Thêm vào ds ưa thích</a>
                                    </div>
                                </div>
                                <!-- Product Content End -->
                            </div>
                            <!-- Single Product End -->
                            <!-- Single Product Start -->
                            <div class="single-product">
                                <!-- Product Image Start -->
                                <div class="pro-img">
                                    <a href="{{ createURLProduct this.two.urlSeo}}">
                                        <img class="primary-img" src="{{getAvatarImage 'primary' this.two.listImages}}"
                                            alt="single-product">
                                        <img class="secondary-img"
                                            src="{{getAvatarImage 'secondary' this.two.listImages}}"
                                            alt="single-product">
                                    </a>
                                    <div class="quick-view">
                                        <a class="show-quick-modal" data-idproduct="{{this.two._id}}" href="#"
                                            data-toggle="modal" data-target="#myModal"><i class="pe-7s-look"></i>xem
                                            nhanh</a>
                                    </div>
                                    <span class="sticker-new">{{this.two.type}}</span>
                                </div>
                                <!-- Product Image End -->
                                <!-- Product Content Start -->
                                <div class="pro-content text-center">
                                    <h4><a href="{{ createURLProduct this.two.urlSeo}}">{{this.two.name}}</a></h4>
                                    {{!-- <p data-price="{{this.two.price}}" class="price product-price-vnd">
                                        <span>{{this.two.price}}</span></p> --}}
                                    <div class="action-links2">
                                        <a class="add-wish-list" data-id="{{this.two._id}}"
                                            data-toggle="tooltip" title="Thêm vào danh sách ưa thích">Thêm vào ds ưa thích</a>
                                    </div>
                                </div>
                                <!-- Product Content End -->
                            </div>
                            <!-- Single Product End -->
                        </div>
                        <!-- Double Product End -->
                        {{/each}}
                    </div>
                    <!-- New Products Activation End -->
                </div>
            </div>
            <!-- Row End -->
        </div>
        <!-- Container End -->
    </div>
    <!-- New Products Selection End -->
    <!-- New Products Banner Start -->
    <div class="new-products-banner pb-100">
        <div class="container">
            <div class="row">
                <!-- Single Banner Start -->
                {{#each categorys}}
                <a href="{{createURLCategory this.urlSeo}}" class=" {{checkTypeCategory1 this.typeImage}}">
                    <div class="{{checkTypeCategory2 @index}}">
                        <img src="{{fullPathImage this.imageUrl}}" alt="product-banner">
                        <div class="banner-desc">
                            <div href="{{createURLCategory this.urlSeo}}">{{this.name}}</div>
                            <p>{{this.totalProduct}} sản phẩm</p>
                        </div>
                    </div>
                </a>
                {{/each}}
                <!-- Single Banner End -->
            </div>
            <!-- Row End -->
        </div>
        <!-- Container End -->
    </div>
    <!-- New Products Banner End -->
    <!-- Best Seller Products Start -->
    <div class="best-seller-products pb-100">
        <div class="container">
            <div class="row">
                <!-- Section Title Start -->
                <div class="col-xs-12">
                    <div class="section-title text-center mb-40">
                        <span class="section-desc mb-20">{{general.section_2_1}}</span>
                        <h3 class="section-info">{{general.section_2_2}}</h3>
                    </div>
                </div>
                <!-- Section Title End -->
            </div>
            <!-- Row End -->
            <div class="row">
                <div class="col-sm-12">
                    <!-- Best Seller Product Activation Start -->
                    <div class="best-seller new-products owl-carousel">
                        {{#each bestSellerProduct}}
                        <!-- Single Product Start -->
                        <div class="single-product">
                            <!-- Product Image Start -->
                            <div class="pro-img">
                                <a href="{{createURLProduct this.urlSeo}}">
                                    <img class="primary-img" src="{{getAvatarImage 'primary' this.listImages}}"
                                        alt="single-product">
                                    <img class="secondary-img" src="{{getAvatarImage 'secondary' this.listImages}}"
                                        alt="single-product">
                                </a>
                                <div class="quick-view">
                                    <a class="show-quick-modal" data-idproduct="{{this._id}}" data-toggle="modal"
                                        data-target="#myModal"><i class="pe-7s-look"></i>xem nhanh</a>
                                </div>
                                <span class="sticker-new">{{this.type}}</span>
                            </div>
                            <!-- Product Image End -->
                            <!-- Product Content Start -->
                            <div class="pro-content text-center">
                                <h4><a href="{{createURLProduct this.urlSeo}}">{{this.name}}</a></h4>
                                {{!-- <p data-price="{{this.price}}" class="price product-price-vnd">
                                    <span>{{this.price}}</span></p> --}}
                                <div class="action-links2">
                                    <a class="add-wish-list" data-id="{{this._id}}"   data-toggle="tooltip" title="Thêm vào danh sách ưa thích" >thêm vào ds ưa thích</a>
                                </div>
                            </div>
                            <!-- Product Content End -->
                        </div>
                        <!-- Single Product End -->
                        {{/each}}
                    </div>
                    <!-- Best Seller Product Activation Start -->
                    <div class="text-center shop-link-page mt-50"><a href="best-seller.html">Shop All Best
                            Sellers</a></div>
                </div>
            </div>
            <!-- Row End -->
        </div>
        <!-- Container End -->
    </div>
    <!-- Best Seller Products End -->
    <!-- Big Banner CSS Start -->
    <div class="big-banner-ads">
        <div class="big-banner">
            <div class="big-banner-desc text-center">
                <h2>{{general.catalogue_title}}</h2>
                <p>{{{general.catalogue_content}}}</p>
                <a href="{{createURLCategory 'all'}}">shop now</a>
            </div>
        </div>
    </div>
    <!-- Big Banner CSS End -->
    <!-- Latest Blog Start -->
    <div class="latest-blog off-white-bg ptb-100">
        <div class="container">
            <div class="row">
                <!-- Section Title Start -->
                <div class="col-xs-12">
                    <div class="section-title text-center mb-40">
                        <span class="section-desc mb-20">{{general.section_3_1}}</span>
                        <h3 class="section-info">{{general.section_3_2}}</h3>
                    </div>
                </div>
                <!-- Section Title End -->
            </div>
            <!-- Row End -->
            <div class="row">
                <div class="col-sm-12">
                    <!-- Blog Activation Start -->
                    <div class="blog owl-carousel">
                        {{#each newPosts}}
                        <!-- Single Blog Start -->
                        <div class="single-blog">
                            <div class="blog-img">
                                <a href="{{createPostDetailURL this.urlSeo}}"><img src="{{fullPathImage this.thumb_image}}" alt="blog-image"></a>
                            </div>
                            <div class="blog-content">
                                <div class="blog-content-upper">
                                    <h6 class="blog-title"><a href="{{createPostDetailURL this.urlSeo}}">{{this.title}}</a></h6>
                                    <p>{{getDescriptionArtiles this.short_desc}}</p>
                                </div>
                                <div class="blog-content-lower">
                                    <a>MOMO</a>
                                    <span class="f-right">{{getDateArtiles this.created_date}}</span>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                        <!-- Single Blog End -->
                    </div>
                    <!-- Blog Activation End -->
                </div>
            </div>
            <!-- Row End -->
        </div>
        <!-- Container End -->
    </div>
    <!-- Latest Blog End -->

    <!-- Footer Start -->
    <footer>
        <!-- Footer Top Start -->
        <div class="footer-top ptb-50">
            <div class="container">
                <h3 class="title-instagram">
                    <a target="_blank"  href="{{general.instagram}}">Instagram</a>
                </h3>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="banner-slider owl-carousel">

                            {{#each instagrams}}
                            <!-- Single Banner Start -->
                            <div class="single-banner">
                                <a target="_blank"  href="{{this.url}}"><img src="{{fullPathImage this.image}}" alt="{{this.name}}"></a>
                                <a target="_blank"   href="{{this.url}}" class="instagram-name">{{this.name}}</a>
                            </div>
                            <!-- Single Banner End -->
                            {{/each}}
                        </div>
                    </div>
                </div>
                <!-- Row End -->
            </div>
            <!-- Container End -->
        </div>
        <!-- Footer Top End -->

        <!-- Footer Middle Start -->
        {{>client/footer/footer-middle}}
        <!-- Footer Middle End -->

        <!-- Footer Bottom Start -->
        {{>client/footer/footer-bottom}}
        <!-- Footer Bottom End -->
    </footer>
    <!-- Footer End -->
    <!-- Quick View Content Start -->
    {{>client/modal/quick-view-product}}
    <!-- Quick View Content End -->
</div>
<!-- Wrapper End -->