<!-- Wrapper Start -->
<div class="wrapper">
    <!-- Preloader Start -->
    <div class="preloader">
        <div class="loading-center">
            <div class="loading-center-absolute">
                <div class="object object_one"></div>
                <div class="object object_two"></div>
                <div class="object object_three"></div>
            </div>
        </div>
    </div>
    <!-- Preloader End -->

    <!-- Header Area Start -->
    {{>client/main-header}}
    <!-- Header Area End -->

      {{>client/modal/add-to-cart-success}}

    <!-- Page Breadcrumb Start -->
    <div class="main-breadcrumb mb-100">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="breadcrumb-content text-center ptb-70">
                        <h1>{{getCategory product.category}}</h1>
                        <ul class="breadcrumb-list breadcrumb">
                            <li><a href="/">Trang chủ</a></li>
                            <li class="active"><a>Sản phẩm</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Breadcrumb End -->
    <!-- Product Thumbnail Start -->
    <div class="main-product-thumbnail pb-100">
        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    <img id="big-img" src="{{getActiveProductImage product.listImages}}"
                        data-zoom-image="{{getActiveProductImage product.listImages}}" alt="product-image" />

                    <div id="small-img" class="mt-20">

                        <div class="thumb-menu owl-carousel">
                            {{#each product.listImages}}
                            <a href="#" data-image="{{fullPathImage this}}" data-zoom-image={{fullPathImage this}}>
                                <img src={{fullPathImage this}} alt="product-image" />
                            </a>
                            {{/each}}
                        </div>
                    </div>
                </div>
                <!-- Thumbnail Description Start -->
                <div  class="col-sm-7 detail-right">
                    <div class="thubnail-desc fix">
                        <h2 class="product-header">{{product.name}}</h2>
                        <!-- Product Rating Start -->
                        <div class="rating-summary fix mtb-20">
                            <div class="rating f-left mr-10">
                                {{{getStar product.rate}}}
                                
                            </div>
                            <div class="rating-feedback f-left">
                                <a href="#">{{product.totalReview}}</a> /
                                <a href="#review">Đánh giá</a>
                            </div>
                        </div>
                        <!-- Product Rating End -->
                        <!-- Product Price Start -->
                        <div class="pro-price mb-20">
                            <ul class="pro-price-list">
                                <li id="current_price_product" data-price="{{product.price}}" class="price product-price-vnd">{{product.price}}
                                </li>
                                {{!-- <li class="tax">Ex Tax: $199.99</li> --}}
                            </ul>
                        </div>
                        <!-- Product Price End -->
                        <!-- Product Price Description Start -->
                        <div class="product-price-desc">
                            <ul class="pro-desc-list">
                                <li>Mã Sản Phẩm: <span>{{product.code}}</span></li>

                                <li>Trạng thái:

                                    {{#ifEquals product.quantity  0}}
                                    <span class="text-danger"> Đang Restock</span>
                                    {{else}}
                                    <span> Sẵn hàng</span>
                                    {{/ifEquals}}
                                </li>

                                {{#ifEquals product.blocksColor.length  0}}

                                {{else}}
                                <li class="container-list-color">Màu Sắc:
                                    <ul id="small-img">
                                        {{#each product.blocksColor}}
                                        <li title="{{this.colorName}}" data-code="{{this.colorCode}}">
                                            <a href="#" data-image="{{getActiveProductImage this.listImages}}"
                                                data-zoom-image={{getActiveProductImage this.listImages}}>
                                                <img src="{{ getActiveProductImage this.listImages}}">
                                            </a>
                                        </li>
                                        {{/each}}
                                    </ul>
                                </li>
                                {{/ifEquals}}

                                {{#ifEquals product.blocksSize.length  0}}

                                {{else}}
                                <li style="display: none;" class="container-list-size">Kích cỡ :
                                    <ul id="list-size">
                                        {{#each product.blocksSize}}
                                        <li class="out_of_stock" data-code="{{this.sizeCode}}">
                                            <button class="btn">{{this.sizeName}}</button>
                                        </li>
                                        {{/each}}
                                    </ul>
                                </li>
                                {{/ifEquals}}
                            </ul>
                        </div>
                        <!-- Product Price Description End -->
                        <!-- Product Box Quantity Start -->
                        <div class="box-quantity mtb-20">
                            <div class="quantity-item">
                                <label>Số lượng: </label>
                                <div class="cart-plus-minus">
                                    <input id="count_detail" class="cart-plus-minus-box" type="text" name="qtybutton" value="0">
                                </div>
                            </div>
                        </div>
                        <!-- Product Box Quantity End -->
                        <!-- Product Button Actions Start -->
                        <div class="product-button-actions">
                            <button data-id="{{product._id}}" data-type="detail" data-product="{{objectToString product}}"
                                class="add-to-cart add-product-to-cart">thêm giỏ hàng</button>
                            <a data-id="{{product._id}}" data-toggle="tooltip" title="Thêm vào danh sách yêu thích"
                                class="add-wish-list same-btn mr-15"><i class="pe-7s-like"></i></a>
                            {{!-- <button data-toggle="tooltip" title="Compare this Product" class="same-btn"><i
                                    class="pe-7s-repeat"></i></button> --}}
                        </div>
                        <!-- Product Button Actions End -->
                        <!-- Product Social Link Share Start -->

                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        {{!-- <div class="addthis_inline_share_toolbox"></div> --}}

                        {{!-- 
                        <div class="social-shared">
                            <ul>
                                <li class="f-book">
                                    <a href="#">
                                        <span><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></span>
                                        <span>like</span>
                                        <span>1</span>
                                    </a>
                                </li>

                                <li class="twitter">
                                    <a href="#">
                                        <span><i class="fa fa-twitter" aria-hidden="true"></i></span>
                                        <span>tweet</span>
                                    </a>
                                </li>
                                <li class="pinterest">
                                    <a href="#">
                                        <span><i class="fa fa-google" aria-hidden="true"></i></span>
                                        <span>plus</span>
                                    </a>
                                </li>
                                <!-- Product Social Link Share Dropdown Start -->
                                <li class="share-post">
                                    <a href="#">
                                        <span><i class="fa fa-plus-square" aria-hidden="true"></i></span>
                                        <span>share</span>
                                    </a>
                                    <ul class="sharable-dropdown">
                                        <li><a href="#"><i class="fa fa-facebook-official"
                                                    aria-hidden="true"></i>facebook</a></li>
                                        <li><a href="#"><i class="fa fa-twitter-square"
                                                    aria-hidden="true"></i>twitter</a></li>
                                        <li><a href="#"><i class="fa fa-print" aria-hidden="true"></i>print</a></li>
                                        <li><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i>email</a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-pinterest-square"
                                                    aria-hidden="true"></i>pinterest</a></li>
                                        <li><a href="#"><i class="fa fa-google-plus-square"
                                                    aria-hidden="true"></i>google+</a></li>
                                        <li><a href="#"><i class="fa fa-plus-square" aria-hidden="true"></i>more(99)</a>
                                        </li>
                                    </ul>
                                </li>
                                <!-- Product Social Link Share Dropdown End -->
                            </ul>
                        </div> --}}


                        <!-- Product Social Link Share End -->
                    </div>
                </div>
                <!-- Thumbnail Description End -->
            </div>
            <!-- Row End -->
        </div>
        <!-- Container End -->
    </div>
    <!-- Product Thumbnail End -->
    <!-- Product Thumbnail Description Start -->
    <div class="thumnail-desc pb-50">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="main-thumb-desc text-center list-inline">
                        <li class="active"><a data-toggle="tab" href="#detail">Chi Tiết</a></li>
                        <li><a data-toggle="tab" href="#review">Đánh giá ({{product.totalReview}})</a></li>
                    </ul>
                    <!-- Product Thumbnail Tab Content Start -->
                    <div class="tab-content thumb-content">
                        <div id="detail" class="tab-pane fade in active pb-40">
                            {{!-- <p class="mb-10">Samsung Galaxy Tab 10.1, is the world’s thinnest tablet, measuring 8.6
                                mm thickness, running with Android 3.0 Honeycomb OS on a 1GHz dual-core Tegra 2
                                processor, similar to its younger brother Samsung Galaxy Tab 8.9.</p>
                            <p class="mb-10">Samsung Galaxy Tab 10.1 gives pure Android 3.0 experience, adding its
                                new TouchWiz UX or TouchWiz 4.0 – includes a live panel, which lets you to customize
                                with different content, such as your pictures, bookmarks, and social feeds, sporting
                                a 10.1 inches WXGA capacitive touch screen with 1280 x 800 pixels of resolution,
                                equipped with 3 megapixel rear camera with LED flash and a 2 megapixel front camera,
                                HSPA+ connectivity up to 21Mbps, 720p HD video recording capability, 1080p HD
                                playback, DLNA support, Bluetooth 2.1, USB 2.0, gyroscope, Wi-Fi 802.11 a/b/g/n,
                                micro-SD slot, 3.5mm headphone jack, and SIM slot, including the Samsung Stick – a
                                Bluetooth microphone that can be carried in a pocket like a pen and sound dock with
                                powered subwoofer.</p>
                            <p class="mb-10">Samsung Galaxy Tab 10.1 will come in 16GB / 32GB / 64GB verities and
                                pre-loaded with Social Hub, Reader’s Hub, Music Hub and Samsung Mini Apps Tray –
                                which gives you access to more commonly used apps to help ease multitasking and it
                                is capable of Adobe Flash Player 10.2, powered by 6860mAh battery that gives you
                                10hours of video-playback time. äö</p> --}}
                            {{{product.detail}}}
                        </div>
                        <div id="review" class="tab-pane fade">
                            <!-- Reviews Start -->
                            <div class="review">
                                <div class="block-title">
                                    <strong>Customer Reviews</strong>
                                </div>
                                <ul>
                                    {{#each reviews}}
                                    <li class="review-item">
                                        <h5>{{this.name}}</h5>
                                        <p>{{this.comment}}</p>
                                        <p class="review-date">
                                            <span class="review-details-label">Đăng lúc</span>
                                            <time class="text-muted ">{{getFormattedDate this.created_date}}</time>
                                        </p>
                                    </li>
                                    {{else}}
                                    <p class="mb-10">Sản phẩm này chưa có đánh giá nào !.</p>
                                    {{/each }}
                                </ul>
                                <h2>REVIEW SẢN PHẨM NÀY</h2>
                            </div>
                            <!-- Reviews End -->
                            <!-- Reviews Field Start -->
                            <div class="riview-field mt-30">
                                <form id="formReview" autocomplete="off">
                                    <div class="form-group">
                                        <label class="req" for="sure-name">tên</label>
                                        <input name="name" type="text" class="form-control" id="sure-name" required="">
                                    </div>
                                    <div class="form-group">
                                        <label class="req" for="comments">Nội dung</label>
                                        <textarea name="comment" class="form-control" rows="5" id="comments"
                                            required=""></textarea>
                                        {{!-- <div class="help-block">
                                            <span class="text-danger">Note:</span> HTML is not translated!
                                        </div> --}}
                                    </div>
                                    <div class="form-group required radio-label">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label class="control-label req">Đánh giá</label> &nbsp;&nbsp;&nbsp;
                                                Bad&nbsp;
                                                <input type="radio" name="rating" value="1"> &nbsp;
                                                <input type="radio" name="rating" value="2"> &nbsp;
                                                <input type="radio" name="rating" value="3"> &nbsp;
                                                <input type="radio" name="rating" value="4"> &nbsp;
                                                <input checked type="radio" name="rating" value="5"> &nbsp;Good
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pull-right">
                                        <button form="formSettings" id="button-review">ĐĂNG</button>
                                    </div>
                                </form>

                            </div>
                            <!-- Reviews Field Start -->
                        </div>
                    </div>
                    <!-- Product Thumbnail Tab Content End -->
                </div>
            </div>
            <!-- Row End -->
        </div>
        <!-- Container End -->
    </div>
    <!-- Product Thumbnail Description End -->
    <!-- Best REALTED Start -->
    <div class="best-seller-products pb-100">
        <div class="container">
            <div class="row">
                <!-- Section Title Start -->
                <div class="col-xs-12">
                    <div class="section-title text-center mb-40">
                        <h3 class="section-info">SẢN PHẨM LIÊN QUAN</h3>
                    </div>
                </div>
                <!-- Section Title End -->
            </div>
            <!-- Row End -->
            <div class="row">
                <div class="best-seller new-products owl-carousel">
                    <!-- Single Product Start -->
                    {{#each productsRelated}}
                    <div class="single-product">
                        <!-- Product Image Start -->
                        <div class="pro-img">
                            <a href="{{ createURLProduct this.urlSeo}}">
                                <img class="primary-img" src="{{getAvatarImage 'primary' this.listImages}}"
                                    alt="single-product">
                                <img class="secondary-img" src="{{getAvatarImage 'secendary' this.listImages}}"
                                    alt="single-product">
                            </a>
                            <div class="quick-view">
                                <a data-idproduct="{{this._id}}" class="show-quick-modal" data-target="#myModal"><i
                                        class="pe-7s-look"></i>xem nhanh</a>
                            </div>
                            <span class="sticker-new">{{this.type}}</span>
                        </div>
                        <!-- Product Image End -->
                        <!-- Product Content Start -->
                        <div class="pro-content text-center">
                            <h4><a href="product-page.html">{{this.name}}</a></h4>
                            <p data-price="{{this.price}}" class="price product-price-vnd"><span>{{this.price}}</span>
                            </p>
                            <div class="action-links2">
                                <a data-id="{{this._id}}" class="add-wish-list"
                                    data-toggle="tooltip" title="">thêm vào ds ưa thích</a>
                            </div>
                        </div>
                        <!-- Product Content End -->
                    </div>
                    <!-- Single Product End -->
                    {{/each}}
                </div>
            </div>
            <!-- Row End -->
        </div>
        <!-- Container End -->
    </div>

    <!-- Footer Start -->
    <footer>
        <!-- Footer Middle Start -->
        {{>client/footer/footer-middle}}
        <!-- Footer Middle End -->
        <!-- Footer Bottom Start -->
        {{>client/footer/footer-bottom}}
        <!-- Footer Bottom End -->
    </footer>
    <!-- Footer End -->
    <!-- Quick View Content Start -->
    {{>client/modal/quick-view-product}}
    <!-- Quick View Content End -->
</div>