<!-- Wrapper Start -->
<div class="wrapper">
    <!-- Preloader Start -->
    <div class="preloader">
        <div class="loading-center">
            <div class="loading-center-absolute">
                <div class="object object_one"></div>
                <div class="object object_two"></div>
                <div class="object object_three"></div>
            </div>
        </div>
    </div>
    <!-- Preloader End -->
    <!-- Header Area Start -->
    <header>
        <div class="container-fluid header-top-area header-sticky">
            <div class="row">
                <!-- Logo Start -->
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-5 full-col pl-0">
                    <div class="logo">
                        <a href="/"><img src="/img/logo/logo.png" alt="brand-image"></a>
                    </div>
                </div>
                <!-- Logo End -->
                <div class="col-xs-12 visible-xs visible-control">
                    <ul class="search-form mobile-form">
                        <li>
                            <form action="#">
                                <input type="text" class="search" name="search" placeholder="Search for products...">
                            </form>
                            <i class="pe-7s-search"></i>
                        </li>
                    </ul>
                </div>
                <!-- Primary-Menu Start -->
                <div class="col-lg-7 col-md-7 col-sm-12  hidden-sm hidden-xs">
                    <div class="primary-menu">
                        <nav>
                            <ul class="primary-menu-list text-center">
                                <li><a href="/">Trang chủ</a></li>
                                <li><a href="/about-us">About Us</a></li>
                                <li><a href="/blog">Blogs</a></li>
                                <li><a href="/about-us">Liên hệ</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- Primary-Menu End -->
                <!-- Header All Shopping Selection Start -->
                {{>client/header/header-all}}
                <!-- Header All Shopping Selection End -->
                <!-- Mobile Menu  Start -->
                <div class="mobile-menu visible-sm visible-xs">
                    <nav>
                        <ul>
                            <li><a href="#">Home</a>
                                <!-- Mobile Menu Dropdown Start -->
                                <ul>
                                    <li><a href="index.html">Home Version 1</a></li>
                                    <li><a href="home-2.html">Home Version 2</a></li>
                                    <li><a href="home-3.html">Home Version 3</a></li>
                                    <li><a href="home-4.html">Home Version 4</a></li>
                                </ul>
                                <!-- Mobile Menu Dropdown End -->
                            </li>
                            <li><a href="#">Furniture</a>
                                <!-- Mobile Menu Dropdown Start -->
                                <ul>
                                    <li><a href="#">sofas & loveseats</a>
                                        <!-- Mobile Menu Sub-Dropdown Start -->
                                        <ul>
                                            <li><a href="categorie-page.html">convallis neceros</a></li>
                                            <li><a href="categorie-page.html">Outdoor Rugs</a></li>
                                            <li><a href="categorie-page.html">Mice and Trackballs</a></li>
                                            <li><a href="categorie-page.html">Cameras</a></li>
                                        </ul>
                                        <!-- Mobile Menu Sub-Dropdown End -->
                                    </li>
                                    <li><a href="#">chairs & recliners</a>
                                        <!-- Mobile Menu Sub-Dropdown Start -->
                                        <ul>
                                            <li><a href="categorie-page.html">commodo nunc</a></li>
                                            <li><a href="categorie-page.html">dignissim porta</a></li>
                                            <li><a href="categorie-page.html">necvelit dignissim</a></li>
                                            <li><a href="categorie-page.html">venenatis lacinia</a></li>
                                        </ul>
                                        <!-- Mobile Menu Sub-Dropdown End -->
                                    </li>
                                </ul>
                                <!-- Mobile Menu Dropdown End -->
                            </li>
                            <li><a href="#">decor</a>
                                <!-- Mobile Menu Dropdown Start -->
                                <ul>
                                    <li><a href="#">art gallery</a>
                                        <!-- Mobile Menu Sub-Dropdown Start -->
                                        <ul>
                                            <li><a href="categorie-page.html">congue nonorna</a></li>
                                            <li><a href="categorie-page.html">Etiam sapien</a></li>
                                            <li><a href="categorie-page.html">Outdoor Lighting</a></li>
                                            <li><a href="categorie-page.html">sapien enim</a></li>
                                        </ul>
                                        <!-- Mobile Menu Sub-Dropdown End -->
                                    </li>
                                    <li><a href="#">lighting</a>
                                        <!-- Mobile Menu Sub-Dropdown Start -->
                                        <ul>
                                            <li><a href="categorie-page.html">commodo nunc</a></li>
                                            <li><a href="categorie-page.html">elementum dolor</a></li>
                                            <li><a href="categorie-page.html">ligula velvenen</a></li>
                                            <li><a href="categorie-page.html">Vestibulum tempor</a></li>
                                        </ul>
                                        <!-- Mobile Menu Sub-Dropdown End -->
                                    </li>
                                    <li><a href="#">rugs</a>
                                        <!-- Mobile Menu Sub-Dropdown Start -->
                                        <ul>
                                            <li><a href="categorie-page.html">blandit vehicula</a></li>
                                            <li><a href="categorie-page.html">Praesent molestie</a></li>
                                            <li><a href="categorie-page.html">sagittis ipsum</a></li>
                                            <li><a href="categorie-page.html">venenatis innunc</a></li>
                                        </ul>
                                        <!-- Mobile Menu Sub-Dropdown End -->
                                    </li>
                                    <li><a href="#">throw pillows</a>
                                        <!-- Mobile Menu Sub-Dropdown Start -->
                                        <ul>
                                            <li><a href="categorie-page.html">Fire Pits</a></li>
                                            <li><a href="categorie-page.html">Garden Accents</a></li>
                                            <li><a href="categorie-page.html">Outdoor Fountains</a></li>
                                            <li><a href="categorie-page.html">Patio Heaters</a></li>
                                        </ul>
                                        <!-- Mobile Menu Sub-Dropdown End -->
                                    </li>
                                </ul>
                                <!-- Mobile Menu Dropdown End -->
                            </li>
                            <li><a href="#">pages</a>
                                <!-- Home Version Dropdown Start -->
                                <ul>
                                    <li><a href="categorie-page.html">shop</a></li>
                                    <li><a href="product-page.html">Product Details</a></li>
                                    <li><a href="cart.html">cart</a></li>
                                    <li><a href="checkout.html">checkout</a></li>
                                    <li><a href="wish-list.html">wish list</a></li>
                                    <li><a href="blog.html">blog</a></li>
                                    <li><a href="blog-details.html">blog details</a></li>
                                    <li><a href="contact.html">contact</a></li>
                                    <li><a href="privacy.html">Privacy Policy</a></li>
                                    <li><a href="404.html">404</a></li>
                                </ul>
                                <!-- Home Version Dropdown End -->
                            </li>
                            <li><a href="/about-us">about us</a></li>
                        </ul>
                    </nav>
                </div>
                <!-- Mobile Menu  End -->
            </div>
        </div>
    </header>
    <!-- Header Area End -->
    <!-- Page Breadcrumb Start -->
    <div class="main-breadcrumb mb-100">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="breadcrumb-content text-center ptb-70">
                        <h1>{{product.name}}</h1>
                        <ul class="breadcrumb-list breadcrumb">
                            <li><a href="/">Trang chủ</a></li>
                            <li class="active"><a>{{product.name}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Breadcrumb End -->
    <!-- Product Thumbnail Start -->
    <div class="main-product-thumbnail pb-100">
        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    <img id="big-img" src="{{getActiveProductImage product.listImages}}"
                        data-zoom-image="{{getActiveProductImage product.listImages}}" alt="product-image" />

                    <div id="small-img" class="mt-20">

                        <div class="thumb-menu owl-carousel">
                            {{#each product.listImages}}
                            <a href="#" data-image="{{this}}" data-zoom-image={{this}}>
                                <img src={{this}} alt="product-image" />
                            </a>
                            {{/each}}
                        </div>
                    </div>
                </div>
                <!-- Thumbnail Description Start -->
                <div class="col-sm-7">
                    <div class="thubnail-desc fix">
                        <h2 class="product-header">{{product.name}}</h2>
                        <!-- Product Rating Start -->
                        <div class="rating-summary fix mtb-20">
                            <div class="rating f-left mr-10">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <div class="rating-feedback f-left">
                                <a href="#">{{product.totalReview}}</a> /
                                <a href="#">Write a review</a>
                            </div>
                        </div>
                        <!-- Product Rating End -->
                        <!-- Product Price Start -->
                        <div class="pro-price mb-20">
                            <ul class="pro-price-list">
                                <li data-price="{{product.price}}" class="price product-price-vnd">{{product.price}}
                                </li>
                                <li class="tax">Ex Tax: $199.99</li>
                            </ul>
                        </div>
                        <!-- Product Price End -->
                        <!-- Product Price Description Start -->
                        <div class="product-price-desc">
                            <ul class="pro-desc-list">
                                <li>Mã Sản Phẩm: <span>{{product.code}}</span></li>
                                <li>Reward Points: <span>{{product.point}}</span></li>
                                <li>Availability: <span>in Stock</span></li>
                                <li class="container-list-color">Màu Sắc:
                                    <ul id="small-img">
                                        {{#each product.blocksColor}}
                                        <li data-code="{{this.colorName}}">
                                            <a href="#" data-image="{{getActiveProductImage this.listImages}}"
                                                data-zoom-image={{getActiveProductImage this.listImages}}>
                                                <img src="{{ getActiveProductImage this.listImages}}">
                                            </a>
                                        </li>
                                        {{/each}}
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <!-- Product Price Description End -->
                        <!-- Product Box Quantity Start -->
                        <div class="box-quantity mtb-20">
                            <div class="quantity-item">
                                <label>Qty: </label>
                                <div class="cart-plus-minus">
                                    <input class="cart-plus-minus-box" type="text" name="qtybutton" value="0">
                                </div>
                            </div>
                        </div>
                        <!-- Product Box Quantity End -->
                        <!-- Product Button Actions Start -->
                        <div class="product-button-actions">
                            <button data-product="{{objectToString product}}"
                                class="add-to-cart add-product-to-cart">add to cart</button>
                            <a id="add-wish-list" data-product="{{objectToString product}}" data-toggle="tooltip"
                                title="Add to Wishlist" class="same-btn mr-15"><i class="pe-7s-like"></i></a>
                            <button data-toggle="tooltip" title="Compare this Product" class="same-btn"><i
                                    class="pe-7s-repeat"></i></button>
                        </div>
                        <!-- Product Button Actions End -->
                        <!-- Product Social Link Share Start -->
                        <div class="social-shared">
                            <ul>
                                <li class="f-book">
                                    <a href="#">
                                        <span><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></span>
                                        <span>like</span>
                                        <span>1</span>
                                    </a>
                                </li>
                                <li class="twitter">
                                    <a href="#">
                                        <span><i class="fa fa-twitter" aria-hidden="true"></i></span>
                                        <span>tweet</span>
                                    </a>
                                </li>
                                <li class="pinterest">
                                    <a href="#">
                                        <span><i class="fa fa-google" aria-hidden="true"></i></span>
                                        <span>plus</span>
                                    </a>
                                </li>
                                <!-- Product Social Link Share Dropdown Start -->
                                <li class="share-post">
                                    <a href="#">
                                        <span><i class="fa fa-plus-square" aria-hidden="true"></i></span>
                                        <span>share</span>
                                    </a>
                                    <ul class="sharable-dropdown">
                                        <li><a href="#"><i class="fa fa-facebook-official"
                                                    aria-hidden="true"></i>facebook</a></li>
                                        <li><a href="#"><i class="fa fa-twitter-square"
                                                    aria-hidden="true"></i>twitter</a></li>
                                        <li><a href="#"><i class="fa fa-print" aria-hidden="true"></i>print</a></li>
                                        <li><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i>email</a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-pinterest-square"
                                                    aria-hidden="true"></i>pinterest</a></li>
                                        <li><a href="#"><i class="fa fa-google-plus-square"
                                                    aria-hidden="true"></i>google+</a></li>
                                        <li><a href="#"><i class="fa fa-plus-square" aria-hidden="true"></i>more(99)</a>
                                        </li>
                                    </ul>
                                </li>
                                <!-- Product Social Link Share Dropdown End -->
                            </ul>
                        </div>
                        <!-- Product Social Link Share End -->
                    </div>
                </div>
                <!-- Thumbnail Description End -->
            </div>
            <!-- Row End -->
        </div>
        <!-- Container End -->
    </div>
    <!-- Product Thumbnail End -->
    <!-- Product Thumbnail Description Start -->
    <div class="thumnail-desc pb-50">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="main-thumb-desc text-center list-inline">
                        <li class="active"><a data-toggle="tab" href="#detail">Chi Tiết</a></li>
                        <li><a data-toggle="tab" href="#review">Đánh giá ({{product.totalReview}})</a></li>
                    </ul>
                    <!-- Product Thumbnail Tab Content Start -->
                    <div class="tab-content thumb-content">
                        <div id="detail" class="tab-pane fade in active pb-40">
                            {{!-- <p class="mb-10">Samsung Galaxy Tab 10.1, is the world’s thinnest tablet, measuring 8.6
                                mm thickness, running with Android 3.0 Honeycomb OS on a 1GHz dual-core Tegra 2
                                processor, similar to its younger brother Samsung Galaxy Tab 8.9.</p>
                            <p class="mb-10">Samsung Galaxy Tab 10.1 gives pure Android 3.0 experience, adding its
                                new TouchWiz UX or TouchWiz 4.0 – includes a live panel, which lets you to customize
                                with different content, such as your pictures, bookmarks, and social feeds, sporting
                                a 10.1 inches WXGA capacitive touch screen with 1280 x 800 pixels of resolution,
                                equipped with 3 megapixel rear camera with LED flash and a 2 megapixel front camera,
                                HSPA+ connectivity up to 21Mbps, 720p HD video recording capability, 1080p HD
                                playback, DLNA support, Bluetooth 2.1, USB 2.0, gyroscope, Wi-Fi 802.11 a/b/g/n,
                                micro-SD slot, 3.5mm headphone jack, and SIM slot, including the Samsung Stick – a
                                Bluetooth microphone that can be carried in a pocket like a pen and sound dock with
                                powered subwoofer.</p>
                            <p class="mb-10">Samsung Galaxy Tab 10.1 will come in 16GB / 32GB / 64GB verities and
                                pre-loaded with Social Hub, Reader’s Hub, Music Hub and Samsung Mini Apps Tray –
                                which gives you access to more commonly used apps to help ease multitasking and it
                                is capable of Adobe Flash Player 10.2, powered by 6860mAh battery that gives you
                                10hours of video-playback time. äö</p> --}}
                            {{{product.detail}}}
                        </div>
                        <div id="review" class="tab-pane fade">
                            <!-- Reviews Start -->
                            <div class="review">
                                <div class="block-title">
                                    <strong>Customer Reviews</strong>
                                </div>
                                <ul>
                                    {{#each reviews}}
                                    <li class="review-item">
                                        <h5>{{this.name}}</h5>
                                        <p>{{this.comment}}</p>
                                        <p class="review-date">
                                            <span class="review-details-label">Đăng lúc</span>
                                            <time class="text-muted ">7/21/16</time>
                                        </p>
                                    </li>
                                    {{else}}
                                    <p class="mb-10">Sản phẩm này chưa có đánh giá nào !.</p>
                                    {{/each }}
                                </ul>
                                <h2>REVIEW SẢN PHẨM NÀY</h2>
                            </div>
                            <!-- Reviews End -->
                            <!-- Reviews Field Start -->
                            <div class="riview-field mt-30">
                                <form id="formReview" autocomplete="off">
                                    <div class="form-group">
                                        <label class="req" for="sure-name">tên</label>
                                        <input name="name" type="text" class="form-control" id="sure-name" required="">
                                    </div>
                                    <div class="form-group">
                                        <label class="req" for="comments">Nội dung</label>
                                        <textarea name="comment" class="form-control" rows="5" id="comments"
                                            required=""></textarea>
                                        {{!-- <div class="help-block">
                                            <span class="text-danger">Note:</span> HTML is not translated!
                                        </div> --}}
                                    </div>
                                    <div class="form-group required radio-label">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label class="control-label req">Đánh giá</label> &nbsp;&nbsp;&nbsp;
                                                Bad&nbsp;
                                                <input type="radio" name="rating" value="1"> &nbsp;
                                                <input type="radio" name="rating" value="2"> &nbsp;
                                                <input type="radio" name="rating" value="3"> &nbsp;
                                                <input type="radio" name="rating" value="4"> &nbsp;
                                                <input checked type="radio" name="rating" value="5"> &nbsp;Good
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pull-right">
                                        <button form="formSettings" id="button-review">ĐĂNG</button>
                                    </div>
                                </form>

                            </div>
                            <!-- Reviews Field Start -->
                        </div>
                    </div>
                    <!-- Product Thumbnail Tab Content End -->
                </div>
            </div>
            <!-- Row End -->
        </div>
        <!-- Container End -->
    </div>
    <!-- Product Thumbnail Description End -->
    <!-- Best REALTED Start -->
    <div class="best-seller-products pb-100">
        <div class="container">
            <div class="row">
                <!-- Section Title Start -->
                <div class="col-xs-12">
                    <div class="section-title text-center mb-40">
                        <h3 class="section-info">SẢN PHẨM LIÊN QUAN</h3>
                    </div>
                </div>
                <!-- Section Title End -->
            </div>
            <!-- Row End -->
            <div class="row">
                <div class="best-seller new-products owl-carousel">
                    <!-- Single Product Start -->
                    {{#each productsRelated}}
                    <div class="single-product">
                        <!-- Product Image Start -->
                        <div class="pro-img">
                            <a href="{{ createURLProduct this.urlSeo}}">
                                <img class="primary-img" src="{{getAvatarImage 'primary' this.listImages}}"
                                    alt="single-product">
                                <img class="secondary-img" src="{{getAvatarImage 'secendary' this.listImages}}"
                                    alt="single-product">
                            </a>
                            <div class="quick-view">
                                <a data-idproduct="{{this._id}}" class="show-quick-modal" data-target="#myModal"><i
                                        class="pe-7s-look"></i>quick
                                    view</a>
                            </div>
                            <span class="sticker-new">{{this.type}}</span>
                        </div>
                        <!-- Product Image End -->
                        <!-- Product Content Start -->
                        <div class="pro-content text-center">
                            <h4><a href="product-page.html">{{this.name}}</a></h4>
                            <p data-price="{{this.price}}" class="price product-price-vnd"><span>{{this.price}}</span>
                            </p>
                            <div class="action-links2">
                                <a data-product="{{objectToString this}}" class="add-product-to-cart"
                                    data-toggle="tooltip" title="">thêm vào giỏ hàng</a>
                            </div>
                        </div>
                        <!-- Product Content End -->
                    </div>
                    <!-- Single Product End -->
                    {{/each}}
                </div>
            </div>
            <!-- Row End -->
        </div>
        <!-- Container End -->
    </div>

    <!-- Footer Start -->
    <footer>
        <!-- Footer Middle Start -->
        {{>client/footer/footer-middle}}
        <!-- Footer Middle End -->
        <!-- Footer Bottom Start -->
        {{>client/footer/footer-bottom}}
        <!-- Footer Bottom End -->
    </footer>
    <!-- Footer End -->
    <!-- Quick View Content Start -->
    {{>client/modal/quick-view-product}}
    <!-- Quick View Content End -->
</div>