<!-- Cart and wishlist icon -->
<li><a href="{{createWishLishURL}}"><i class="pe-7s-like"></i><span id="wish-list-length">0</span></a></li>
<li data-seasonid="{{sessionID}}" data-cart="{{ objectToString cart}}" id="js-cart-data"><i class="pe-7s-shopbag"></i><span
        id="cart-length">0</span>
    <ul class="ht-dropdown main-cart-box">
        <li class="container-products">
            <!-- Cart Box Start -->

            {{#each cart.listCartProducts }}
            <div id="{{this._id}}" class="single-cart-box">
                <div class="cart-img">
                    <a href="{{createURLProduct this.urlSeo}}"><img src="/img/menu/1.jpg" alt="cart-image"></a>
                </div>
                <div class="cart-content">
                    <h6><a href="{{createURLProduct this.urlSeo}}">{{this.name}}</a></h6>
                   <span>1 ×</span> <span class="product-price-vnd" data-price="{{this.price}}">$399.00</span>
                </div>
                <i data-product="{{objectToString this}}" class="pe-7s-close remove-product-from-cart"></i>
            </div>
              {{/each }}
            <!-- Cart Box End -->


            <!-- Cart Footer Inner Start -->
            <div class="cart-footer fix">
                <h5>total :<span class="f-right">$698.00</span></h5>
                <div class="cart-actions">
                    <a class="checkout" href="checkout.html">Checkout</a>
                </div>
            </div>
            <!-- Cart Footer Inner End -->
        </li>
    </ul>
</li>
<!--End Cart and wishlist icon -->
