<!-- Footer Middle Start -->
<div class="footer-middle">
    <div class="container">
        <div class="container-footer ptb-100">
            <div class="row">
                <!-- Single Footer Start -->
                <div class="single-footer col-md-3 col-sm-6">
                    <div class="footer-logo">
                        <a href="/"><img class="img" src=" {{fullPathImage '/img/logo.png'}}" alt="logo-img"></a>
                    </div>
                    <div class="footer-content">
                        <p>{{general.footer_desc}}</p>
                        <h5 class="contact-info mtb-10">thông tin liên hệ:</h5>
                        <ul class="footer-list first-content">
                            <li><i class="pe-7s-map-marker"></i>{{general.address}}</li>
                            <li><i class="pe-7s-mail"></i>{{general.email}}</li>
                            <li><i class="pe-7s-call"></i>{{general.phone_number}}</li>
                        </ul>
                    </div>
                </div>
                <!-- Single Footer Start -->
                <!-- Single Footer Start -->
                <div class="single-footer col-md-3 col-sm-6">
                    <h4 class="footer-title">momo.studio</h4>
                    <div class="footer-content">
                        <ul class="footer-list">
                            <li><a href="{{createURLAboutUs }}">Về MoMo.Studio</a></li>
                            <li><a href="{{createURLCategory 'all'}}">Sản phẩm</a></li>
                            <li><a href="#">Khuyến mại</a></li>
                            <li><a href="{{createURLBlogs}}">Tin tức</a></li>
                        </ul>
                    </div>
                </div>
                <!-- Single Footer Start -->
                <!-- Single Footer Start -->
                <div class="single-footer col-md-3 col-sm-6">
                    <h4 class="footer-title">hỗ trợ</h4>
                    <div class="footer-content">
                        <ul class="footer-list">
                            <li><a href="{{createURLPurchasePolicy }}">Chính sách mua hàng</a></li>
                            <li><a href="#">Các câu hỏi thường găp</a></li>
                            <li><a href="#">Giới hạn và các điều kiện</a></li>
                            <li><a href="#">Tuyển dụng</a></li>
                        </ul>
                    </div>
                </div>
                <!-- Single Footer Start -->
                <!-- Single Footer Start -->
                <div class="single-footer col-md-3 col-sm-6">
                    <h4 class="footer-title">Đặc quyền thành viên</h4>
                    <div class="footer-content subscribe-form">
                        <p class="mb-25">Đăng ký để nhận thông tin sản phẩm mới nhất và các chương trình khuyến mại hấp dẫn!</p>
                        <div class="subscribe-box">
                            <div>
                                <input type="text" name="subscribe_email" id="subscribe_email"
                                    placeholder="Nhập email của bạn...">
                                <input id="submitFromFooter" type="submit" class="submit" value="subscribe">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Footer Start -->
            </div>
            <!-- Row End -->
        </div>
        <!-- Container Footer End -->
    </div>
    <!-- Container End -->
</div>
<!-- Footer Middle End -->