<link rel="stylesheet" type="text/css" href="/plugins/editors/quill/quill.snow.css">
<div id="content" class="main-content">
    <div class="col-md-12 text-center">
        <button id="submitForm" form="formEditClient" type="submit"
            class="btn btn-secondary position-relative mt-3 mb-3 ml-2">Submit</button>

    </div>
    <div class="layout-px-spacing">
        {{#each messages}}
        <div class="mt-4 alert alert-success mb-2" role="alert"> <button type="button" class="close"
                data-dismiss="alert" aria-label="Close"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" class="feather feather-x close" data-dismiss="alert">
                    <line x1="18" y1="6" x2="6" y2="18"></line>
                    <line x1="6" y1="6" x2="18" y2="18"></line>
                </svg></button> <strong>Thông báo</strong> {{this}} </div>
        {{/each}}
        <div class="row layout-top-spacing">

            <div class="col-xl-6 col-lg-6 col-sm-6  layout-spacing">
                <div class="statbox widget box box-shadow">
                    <div class="widget-header">
                        <div class="row">
                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                <h4>Cấu hình chung</h4>
                            </div>
                        </div>
                    </div>
                    <div class="widget-content widget-content-area br-6">
                        <form enctype="multipart/form-data" id="formEditClient" method="POST"
                            action="/admin/hosts/edit-client/{{client.host}}">
                            <div class="form-row mb-4">
                                <div class="form-group col-md-12">
                                    <label for="">Host</label>
                                    <input readonly name="host" value="{{client.host}}" type="text" class="form-control"
                                        placeholder="Title">
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="">Title Home</label>
                                    <input name="settings[title_home]" value="{{client.settings.title_home}}"
                                        type="text" class="form-control" placeholder="Title Home">
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="">Desc Home</label>
                                    <input name="settings[desc_home]" value="{{client.settings.desc_home}}" type="text"
                                        class="form-control" placeholder="Desc">
                                </div>

                                <div class="form-group col-md-12">
                                    <label for="">Title Post</label>
                                    <input name="settings[title_post]" value="{{client.settings.title_post}}"
                                        type="text" class="form-control" placeholder="Title">
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="">Desc Post</label>
                                    <input name="settings[desc_post]" value="{{client.settings.desc_post}}" type="text"
                                        class="form-control" placeholder="Title">
                                </div>

                                <div class="form-group col-md-12">
                                    <label for="">Title Search</label>
                                    <input name="settings[title_search]" value="{{client.settings.title_search}}"
                                        type="text" class="form-control" placeholder="Title">
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="">Desc Search</label>
                                    <input name="settings[desc_search]" value="{{client.settings.desc_search}}"
                                        type="text" class="form-control" placeholder="Desc Search">
                                </div>

                                <div class="form-group col-md-12">
                                    <label for="">Keywords</label>
                                    <input name="settings[keywords]" value="{{client.settings.keywords}}" type="text"
                                        class="form-control" placeholder="Enter Keywords">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Sử dụng proxy {{client.use_proxy}}</label>
                                    <br>
                                    <label class="switch s-primary mr-2">
                                        <input name="use_proxy" {{checked client.use_proxy}} type="checkbox">
                                        <span class="slider round"></span>
                                    </label>
                                </div>



                                <div class="form-group col-md-12">
                                    <div class="statbox widget box box-shadow">
                                        <div class="widget-header">
                                            <div class="row">
                                                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                                    <h4> Mô tả web </h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="widget-content widget-content-area">
                                            <div id="editor-container">
                                            </div>
                                            <textarea name="settings[web_desc]" name="text" style="display:none"
                                                id="hiddenArea">{{client.settings.web_desc}}</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-sm-6  layout-spacing">
                <div class="statbox widget box box-shadow">
                    <div class="widget-header">
                        <div class="row">
                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                <h4>Ảnh tĩnh</h4>
                            </div>
                        </div>
                    </div>
                    <div class="widget-content widget-content-area br-6">
                        <div class="form-row mb-2">

                            <div class="form-group col-md-12 mb-4 mt-3">
                                <label>Ảnh home page ( Hiển thị khi chia sẻ trang)</label>
                                <input form="formEditClient" name="home_image" type="file" class="form-control-file">
                                <div class="row col-md-6 mt-2">
                                    <img alt="Chưa có ảnh " class="img-fluid" src="/img/homepage.png">
                                </div>
                            </div>
                        </div>

                        <div class="form-row mb-2">
                            <div class="form-group col-md-12 mb-4 mt-3">
                                <label>Logo</label>
                                <input form="formEditClient" name="logo" type="file" class="form-control-file">
                                <div class="row col-md-6 mt-2">
                                    <img alt=" Chưa có ảnh" class="img-fluid" src="/img/logo.png">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
                <div class="statbox widget box box-shadow">
                    <div class="widget-header">
                        <div class="row">
                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                <h4>Top Nhạc</h4>
                            </div>
                        </div>
                    </div>
                    <div class="widget-content widget-content-area br-6">
                        <div id="container-top-music" class="form-group col-md-12">

                            {{#each client.top_music}}

                            <div class="input-group mb-2">
                                <input required="" name="top_music[]" form="formEditClient" value="{{this}}" type="text"
                                    class="form-control" placeholder="Song name...">
                                <div class="input-group-append">
                                    <button class="delete-music btn btn-danger" type="button">Xóa</button>
                                </div>
                            </div>
                            {{else}}
                            <div class="input-group mb-2">
                                <input required="" name="top_music[]" form="formEditClient" value="{{null}}" type="text"
                                    class="form-control" placeholder="Song name...">
                                <div class="input-group-append">
                                    <button class="delete-music btn btn-danger" type="button">Xóa</button>
                                </div>
                            </div>
                            {{/each}}
                            <a id="add-top-music" class="mt-4 mb-2 btn btn-primary">Thêm top bài hát</a>


                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="/plugins/editors/quill/quill.js"></script>
<!-- END PAGE LEVEL SCRIPTS -->


<script>
    $(document).ready(function () {

        $("#formEditClient").on("submit", function () {
            console.log($("#editor-container .ql-editor").html());

            $("#hiddenArea").val($("#editor-container .ql-editor").html());
        });

        var quill = new Quill('#editor-container', {
            modules: {
                toolbar: [
                    [{ header: [1, 2, false] }],
                    ['bold', 'italic', 'underline'],
                    ['image', 'code-block']
                ]
            },
            placeholder: 'Enter here !',
            theme: 'snow'  // or 'bubble'
        });
        quill.root.innerHTML = $('#hiddenArea').text();

        function cloneTopMusic() {
            var topMusic = $('#container-top-music .input-group').last().clone(true);
            $(topMusic).find('input').val('');
            $('#container-top-music ').prepend(topMusic);
        }

        function deleteMusic() {
            if ($('#container-top-music').find('.input-group').length > 1) {
                $(this).parent().parent().remove();

            } else {
                swal({
                    title: 'Cảnh báo',
                    text: "Không được xóa phần tử cuối cùng !",
                    type: 'warning',
                    padding: '2em'
                })
            }
        }
        $("#add-top-music").on("click", cloneTopMusic);
        $('.delete-music').on("click", deleteMusic);


    });
</script>