<!--  BEGIN CONTENT AREA  -->

<script src="/plugins/ckeditor/ckeditor.js"></script>
<script src="/plugins/validate/jquery.validate.min.js"></script>
<script src="/plugins/select2/select2.min.js"></script>
<link href="/plugins/loaders/custom-loader.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="/plugins/select2/select2.min.css">
<style>
    .error {
        color: red !improtant;
    }

    #container-images-product img,
    #container-color-blocks img {
        max-width: 150px;
        height: auto;
        object-fit: cover;
    }
</style>
<div id="content" class="main-content">
    <div class="">
        <div class="layout-px-spacing">
            <div class="row layout-top-spacing">
                <div id="basic" class="col-lg-12 col-sm-12 col-12 layout-spacing">
                    <div class="statbox widget box box-shadow">
                        <div class="widget-header">
                            <div class="row">
                                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                    {{#if product._id}}
                                    <h4>Sửa Sản Phẩm</h4>
                                    {{else}}
                                    <h4>Thêm Sản Phẩm</h4>
                                    {{/if}}
                                </div>
                            </div>
                            <div class="widget-content widget-content-area">
                                {{#each errors}}
                                {{>admin/flash-message/error}}
                                {{/each}}
                                {{#each messages}}
                                {{>admin/flash-message/success}}
                                {{/each}}
                                <div class="row">
                                    <div class="col-lg-12 col-12 col-md-12 mx-auto">
                                        <form id="formProduct" enctype="multipart/form-data" method="post">
                                            <div class=" form-group col-lg-6  col-md-12">
                                                <label>Tên Sản Phẩm</label>
                                                <input id="product-name" value="{{product.name}}" type="text"
                                                    minlength="5" name="name"
                                                    placeholder="Enter unique name of product..." class="form-control"
                                                    required="">
                                            </div>
                                            <br>
                                            <div class=" form-group col-lg-6  col-md-12">
                                                <label>URL SEO</label>
                                                <input id="product-url-seo" value="{{product.urlSeo}}" type="text"
                                                    minlength="5" name="urlSeo"
                                                    placeholder="Enter unique URL SEO of product..."
                                                    class="form-control" required="">
                                                <small id="emailHelp" class="form-text text-warning">Hạn chế tối đa việc
                                                    sửa URL SEO</small>

                                                <small id="emailHelp" class="form-text text-success">URL SEO CŨ:
                                                    {{product.urlSeo}}</small> </div>
                                            <br>
                                            <div class=" form-group col-lg-6  col-md-12">
                                                <label>Mã sản phẩm</label>


                                                <input value="{{product.code}}" type="text" name="code"
                                                    placeholder="Mã sản phẩm phải là duy nhất" class="form-control"
                                                    required="">


                                            </div>
                                            <br>
                                            <div class=" form-group col-lg-6  col-md-12">
                                                <label>Giá Sản Phẩm</label>
                                                <input id="product-price" value="{{product.price}}" type="number"
                                                    name="price" placeholder="Enter price of product (VNĐ)..."
                                                    class="form-control" required="">
                                                <p id="show-price" class="text-success">0</p>
                                            </div>
                                            <br>
                                            <div class=" form-group col-lg-6  col-md-12">
                                                <label>New or Sale</label>
                                                <select required="" name="type" class="form-control col-md-6">
                                                    <option {{selected 'new' product.type }} value="new">NEW</option>
                                                    <option {{selected 'sale' product.type }} value="sale">SALE</option>
                                                </select>

                                            </div>
                                            <br>
                                            <div class="form-group col-lg-8  col-md-12">
                                                <label> LOẠI SẢN PHẨM</label>
                                                <select data-selected="{{categorySelected}}" required=""
                                                    data-categorys="{{categorys}}" id="product-category" name="category"
                                                    class="form-control col-md-6">
                                                </select>

                                            </div>
                                            <div class=" form-group col-lg-6  col-md-12">
                                                <label>Điểm thưởng</label>
                                                <input type="number" name="point"
                                                    placeholder="Số điểm thưởng nhận được khi khách mua hàng ..."
                                                    value="{{product.point}}" class="form-control col-md-6" required="">
                                            </div>



                                            <div class=" form-group col-8">
                                                <div class="input-group mb-4">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">Ghi chú
                                                        </span>
                                                    </div>
                                                    <textarea placeholder="Enter note... " name="note"
                                                        class="form-control"
                                                        aria-label="With textarea">{{product.note}}</textarea>
                                                </div>
                                            </div>
                                            <br>
                                            <h5 class="text-success text-center">Quản lý ảnh chung của sản phẩm</h5>
                                            <a id="add-product-image" class="btn btn-primary mb-4">Thêm ảnh chung SP</a>
                                            <div id="container-images-product" class="form-group row border pt-2">
                                                {{#each product.listImages}}
                                                <div class="col-lg-2 col-md-2 mb-2 ">
                                                    <div class="form-group">
                                                        <a data-path="{{this}}"
                                                            class="delete-image-product btn btn-danger mt-2">Xóa Ảnh</a>
                                                        <br>
                                                        <img src="{{this}}" alt="Ảnh đã bị xóa khỏi server">
                                                        <input class="d-none common-image" value="{{this}}">
                                                    </div>
                                                </div>
                                                {{/each}}
                                            </div>
                                            <br>
                                            <h5 class="text-success text-center">Quản lý ảnh màu sắc của sản phẩm</h5>

                                            <a id="add-block-color" class="btn btn-primary mb-2">Thêm Màu</a>
                                            {{#if product.blocksColor.length}}
                                            <p class="text-info">Sản phẩm hiện có {{product.blocksColor.length}} loại
                                                màu </p>
                                            {{/if}}


                                            <div id="container-color-blocks" class="form-group row">

                                                {{#each product.blocksColor}}
                                                <div class="color-block col-lg-3 col-md-3  mb-2 border ">

                                                    <div class="form-group">
                                                        <a class="delete-block-color btn btn-danger mb-2 mt-2">Xóa</a>
                                                        <input readonly value="{{this.colorCode}}" required="" placeholder="Mã màu sắc...." class="color-code form-control  mb-2 ">
                                                        <input value="{{this.colorName}}" required="" placeholder="Tên màu sắc...(hiển thị trên website)" class="color-name form-control mb-2 ">
                                                    </div>

                                                    <div class="form-group row">
                                                        {{#each this.listImages}}
                                                        <div class="mb-2">
                                                            <div class="form-group">
                                                                <input required="" accept="image/jpeg,image/gif,image/png,image/x-eps" type="file" class="form-control-file">
                                                                <img class="color-image" data-image="{{this}}" src="{{this}}">
                                                            </div>
                                                        </div>
                                                        {{/each}}
                                                    </div>

                                                </div>

                                                {{/each}}
                                            </div>
                                            <br>
                                            <h5 class="text-success text-center">Quản lý SIZE sản phẩm </h5>

                                            <a id="add-block-size" class="btn btn-primary mb-2">Thêm Size</a>
                                            {{#if product.blocksSize.length}}
                                            <p class="text-info">Sản phẩm hiện có {{product.blocksSize.length}} loại
                                                size
                                                {{/if}}
                                                <div id="container-size-blocks" class="form-group row">
                                                    {{#each product.blocksSize}}
                                                    <div class="size-block  col-lg-3 col-md-3  mb-2 border">
                                                        <div class="form-group">
                                                            <a
                                                                class="delete-block-size btn btn-danger mb-2 mt-2">Xóa</a>
                                                            <input readonly required="" value="{{this.sizeCode}}"
                                                                placeholder="Mã size"
                                                                class="form-control col-md-6 mb-2 size-code">
                                                            <input required="" value="{{this.sizeName}}"
                                                                placeholder="Tên size ( hiển thị trên website )"
                                                                class="form-control col-md-6 mb-2 size-name">
                                                        </div>

                                                    </div>
                                                    {{/each}}
                                                </div>
                                                <div class="form-group">
                                                    <label>Mô tả sản phẩm</label>
                                                    <textarea id="product-detail" name="detail" class="ckeditor"
                                                        required="" placeholder="Enter detail of product....">
                                                 {{{product.detail}}}
                                                </textarea>
                                                </div>
                                        </form>
                                        {{#if product._id}}
                                        <button data-productid="{{product._id}}"
                                            class="submitForm btn btn-secondary btn-lg mb-3 mr-3">
                                            <div
                                                class=" d-none spinner-grow text-white mr-2 align-self-center loader-sm">
                                            </div>
                                            Update
                                        </button>
                                        {{else}}
                                        <button class="submitForm btn btn-secondary btn-lg mb-3 mr-3">
                                            <div
                                                class="d-none spinner-grow text-white mr-2 align-self-center loader-sm">
                                            </div>
                                            Create
                                        </button>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div style="display: none" id="base-image-product">
            <div class="col-lg-2 col-md-2 mb-2 ">
                <div class="form-group">
                    <a class="delete-image-product btn btn-danger">Xóa</a>
                    <input required="" accept="image/jpeg,image/gif,image/png,image/x-eps" type="file"
                        class="form-control-file">
                    <img alt="Chưa chọn ảnh" src="#">
                </div>
            </div>
        </div>

        <div style="display: none" id="base-block-color">
            <div class="color-block  col-lg-3 col-md-3   mb-2 border mt-4 mb-4">
                <div class="form-group">
                    <a class="delete-block-color btn btn-danger mb-2 mt-2">Xóa</a>
                    <input readonly required="" placeholder="Mã màu" class="form-control mb-2 color-code">
                    <input required="" placeholder="Tên màu ( hiển thị trên website )" class="form-control mb-2 color-name">
                </div>

                <div class="form-group row">
                    <div class="mb-2 ">
                        <div class="form-group">
                            <input required="" accept="image/jpeg,image/gif,image/png,image/x-eps" type="file" class="form-control-file">
                            <img  class="color-image"  alt="Chưa chọn ảnh !" src="#">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="display: none" id="base-block-size">
            <div class="size-block  col-lg-3 col-md-3  mb-2 border mt-4 mb-4">
                <div class="form-group">
                    <a class="delete-block-size btn btn-danger mb-2 mt-2">Xóa</a>
                    <input readonly required="" placeholder="Mã size" class="form-control col-md-6 mb-2 size-code">
                    <input required="" placeholder="Tên size ( hiển thị trên website )"
                        class="form-control col-md-6 mb-2 size-name">
                </div>

            </div>
        </div>

        {{>admin/footer}}
    </div>
    <script src="/admin/product/product.js"></script>