<!-- BEGIN PAGE LEVEL STYLES -->
<script src="/plugins/ckeditor/ckeditor.js"></script>


<!-- BEGIN PAGE LEVEL CUSTOM STYLES -->
<link href="/assets/css/components/custom-modal.css" rel="stylesheet" type="text/css" />

<link rel="stylesheet" type="text/css" href="/plugins/table/datatable/datatables.css">
<link rel="stylesheet" type="text/css" href="/assets/css/forms/theme-checkbox-radio.css">
<link rel="stylesheet" type="text/css" href="/plugins/table/datatable/dt-global_style.css">
<link rel="stylesheet" type="text/css" href="/plugins/table/datatable/custom_dt_custom.css">

<!-- END PAGE LEVEL CUSTOM STYLES -->

<style>
    table tbody p.title-custom {
        font-size: 15px;
        font-weight: 600;
        color: #e2a03f;
    }

    td p {
        max-width: 150px;
        word-break: break-all;
        text-align: left;
    }
</style>
<!--  BEGIN CONTENT AREA  -->
<div id="content" class="main-content">

    <div class="layout-px-spacing">
        {{#each errors}}
        {{>admin/flash-message/error}}
        {{/each}}
        {{#each messages}}
        {{>admin/flash-message/success}}
        {{/each}}
        <div class="row layout-top-spacing layout-spacing">
            <div class="col-lg-12">
                <div class="statbox widget box box-shadow">
                    <div class="widget-header">
                        <div class="row">
                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                <h4>Danh sách sản phẩm</h4>
                            </div>
                        </div>
                    </div>
                    <div class="widget-content widget-content-area">
                        <div class="table-responsive mb-4">
                            <div>
                                <div class="seperator-header">
                                    <a href="/admin/product/add-product">
                                        <h4 class="">Thêm sản phẩm </h4>
                                    </a>
                                </div>
                                <table id="style-3" class="table style-3  table-hover">
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>Tên</th>
                                            <th>Mã</th>
                                            <th>Số lượng</th>
                                            <th>Ghi chú</th>
                                            <th>Loại</th>
                                            <th>Giá</th>
                                            <th>Kho Chứa</th>
                                            <th>Thời gian</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each products}}
                                        <tr>
                                            <td class="checkbox-column"> {{@index}}</td>
                                            <td>
                                                <p> {{this.name}}</p>
                                            </td>
                                            <td>
                                                <p class=" title-custom"> {{this.code}}</p>
                                            </td>
                                            <td>{{this.quantity}}</td>
                                            <td>
                                                <p>{{this.note}} </p>
                                            </td>
                                            <td>
                                                {{#each this.category}}
                                                <p> {{this.name}}</p>
                                                {{/each}}
                                            </td>
                                            <td>
                                                <p class="product-price" data-price="{{this.price}}"> {{this.price}}</p>
                                            </td>
                                            <td>
                                                {{#each this.storage}}
                                                <p> {{this.name}}</p>
                                                {{/each}}
                                            </td>
                                            <td>
                                                <div>
                                                    <span class="badge badge-secondary">Ngày cập nhật</span> <br> <span
                                                        class="text-muted">{{ formatDate this.updated_date}} </span>
                                                </div>
                                                <div class="mt-2 mb-2">
                                                    <span class="badge badge-secondary">Ngày tạo</span>
                                                    <br>
                                                    <span class="text-muted">{{ formatDate this.created_date}} </span>
                                                </div>
                                            </td>
                                            <td>
                                                <ul class="table-controls">
                                                    <li><a title="Sửa Thông Tin Sản Phẩm"
                                                            href="/admin/product/edit-product/{{this._id}}"
                                                            class="bs-tooltip" data-toggle="tooltip"
                                                            data-placement="top" title=""
                                                            data-original-title="Edit"><svg
                                                                xmlns="http://www.w3.org/2000/svg" width="24"
                                                                height="24" viewBox="0 0 24 24" fill="none"
                                                                stroke="currentColor" stroke-width="2"
                                                                stroke-linecap="round" stroke-linejoin="round"
                                                                class="feather feather-edit-2 p-1 br-6 mb-1">
                                                                <path
                                                                    d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z">
                                                                </path>
                                                            </svg></a></li>
                                                    <li data-toggle="modal" data-target="#modalDeleteProduct"
                                                        data-productid="{{this._id}}" class="btn-delete-storage"><a
                                                            title="Xóa Sản Phẩm" class="bs-tooltip"
                                                            data-toggle="tooltip" data-placement="top" title=""
                                                            data-original-title="Delete"><svg
                                                                xmlns="http://www.w3.org/2000/svg" width="24"
                                                                height="24" viewBox="0 0 24 24" fill="none"
                                                                stroke="currentColor" stroke-width="2"
                                                                stroke-linecap="round" stroke-linejoin="round"
                                                                class="feather feather-trash p-1 br-6 mb-1">
                                                                <polyline points="3 6 5 6 21 6"></polyline>
                                                                <path
                                                                    d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2">
                                                                </path>
                                                            </svg></a></li>
                                                </ul>
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="modalDeleteProduct" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Xóa Sản Phẩm</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
                                <line x1="18" y1="6" x2="6" y2="18"></line>
                                <line x1="6" y1="6" x2="18" y2="18"></line>
                            </svg>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p class="modal-text"> Vui lòng xác thực để xóa sản phẩm! </p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal"><i class="flaticon-cancel-12"></i> Hủy</button>
                        <a id="delete-modal" type="button" class="btn btn-primary">Xóa Ngay</a>
                    </div>
                </div>
            </div>
        </div>
        {{>admin/footer}}
    </div>
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="/plugins/table/datatable/datatables.js"></script>
    <script>
        c3 = $('#style-3').DataTable({
            "oLanguage": {
                "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
                "sInfo": "Showing page _PAGE_ of _PAGES_",
                "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
                "sSearchPlaceholder": "Search...",
                "sLengthMenu": "Results :  _MENU_",
            },
            "stripeClasses": [],
            "lengthMenu": [5, 10, 20, 50],
            "pageLength": 10
        });
        multiCheck(c3);
        $('.btn-delete-storage').on('click', deleteProduct);
        function deleteProduct() {
            var productId = $(this).data("productid");
            $('#delete-modal').attr('href', `/admin/product/delete/${productId}`);
        }
        function getPriceVND() {
            $('.product-price').each(function (index, element) {
                var price = parseInt($(this).data('price'));
                price = price.toLocaleString('it-IT', { style: 'currency', currency: 'VND' });
                $(this).text(price);
            });
        }
        getPriceVND();

    </script>
    <!-- END PAGE LEVEL SCRIPTS -->