<!--  BEGIN CONTENT AREA  -->



<style>


    img {
        max-width: 150px;
    }
</style>
<div id="content" class="main-content">
    <div class="">
        <div class="layout-px-spacing">
            <div class="row layout-top-spacing">
                <div id="basic" class="col-lg-12 col-sm-12 col-12 layout-spacing">
                    <div class="statbox widget box box-shadow">
                        <div class="widget-header">
                            <div class="row">
                                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                    {{#if instagram._id}}
                                    <h4>Sửa Instagram Post</h4>
                                    {{else}}
                                    <h4>Thêm Instagram Post</h4>
                                    {{/if}}
                                </div>
                            </div>
                            <div class="widget-content widget-content-area">
                                {{#each errors}}
                                {{>admin/flash-message/error}}
                                {{/each}}
                                {{#each messages}}
                                {{>admin/flash-message/success}}
                                {{/each}}
                                <div class="row">
                                    <div class="col-lg-12 col-12 col-md-12 mx-auto">
                                        <form enctype="multipart/form-data"
                                            action="{{buildActionInstagram instagram._id}}" method="post">
                                            <div class="form-group">
                                                <label>Tên sản phẩm (dưới ảnh Instagram)</label>
                                                <input value="{{instagram.name}}" type="text" name="name"
                                                    placeholder="Enter unique name of product..."
                                                    class="form-control col-md-6" required="">
                                            </div>
                                            <div class="form-group">
                                                <label>URL</label>
                                                <input value="{{instagram.url}}" type="text" name="url"
                                                    placeholder="Enter  url Instagram...." class="form-control col-md-6"
                                                    required="">
                                            </div>

                                            <div class="form-group banner-instagram">
                                                <label>Ảnh banner</label>
                                                <input accept="image/jpeg,image/gif,image/png,image/x-eps" name="image"
                                                    type="file" class="form-control-file">
                                                <div class="row col-md-6 mt-1">
                                                    <img src="{{instagram.image}}" class="imageUrl" alt=" Chưa có ảnh !"
                                                        class="img-fluid" src="#">
                                                </div>
                                            </div>
                                            {{#if instagram._id}}
                                            <input type="submit" class="mt-4 btn btn-primary" value="Update">
                                            {{else}}
                                            <input type="submit" class="mt-4 btn btn-primary" value="Create">
                                            {{/if}}
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{>admin/footer}}
</div>

<script>
    $(document).ready(function () {

        $('.banner-instagram input').change(function () {
            readURL(this);
        });

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $(input).parent().find('img').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
    });
</script>