<!--  BEGIN CONTENT AREA  -->

<script src="/plugins/ckeditor/ckeditor.js"></script>

{{!-- <script src="//cdn.ckeditor.com/4.14.0/full/ckeditor.js"></script> --}}
<style>
    .banner-post,
    .image-upload {
        max-width: 150px;
    }
</style>
<div id="content" class="main-content">
    <div class="">
        <div class="layout-px-spacing">
            <div class="row layout-top-spacing">
                <div id="basic" class="col-lg-12 col-sm-12 col-12 layout-spacing">
                    <div class="statbox widget box box-shadow">
                        <div class="widget-header">
                            <div class="row">
                                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                    {{#if banner._id}}
                                    <h4>Sửa Banner</h4>
                                    {{else}}
                                    <h4>Thêm Banner</h4>
                                    {{/if}}
                                </div>
                            </div>
                            <div class="widget-content widget-content-area">
                                {{#each errors}}
                                {{>admin/flash-message/error}}
                                {{/each}}
                                {{#each messages}}
                                {{>admin/flash-message/success}}
                                {{/each}}
                                <div class="row">
                                    <div class="col-lg-10 col-10 col-md-10 mx-auto">
                                        <form enctype="multipart/form-data" action="{{buildActionBanner banner._id}}"
                                            method="post">
                                            <div class="form-group">
                                                <label>Tiêu đề Banner</label>
                                                <input value="{{banner.title}}" type="text" name="title"
                                                    placeholder="Enter title of banner ..." class="form-control"
                                                    required="">
                                            </div>
                                              <div class="form-group ">
                                                <label>Ẩn/Hiện</label>
                                                <br>
                                                <label class="switch s-primary mr-2">
                                                    <input {{checked banner.isShow }} name="isShow" type="checkbox">
                                                    <span class="slider round"></span>
                                                </label>
                                            </div>
                                            <div class="form-group">
                                                <div class="input-group mb-4">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">Mô tả ngắn ( Viết dài hơn 20 từ)
                                                        </span>
                                                    </div>
                                                    <textarea minlength="30" required=""
                                                        placeholder="Enter short desc... " name="desc"
                                                        class="form-control"
                                                        aria-label="With textarea">{{banner.desc}}</textarea>
                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <label>URL LINK</label>
                                                <input type="text" name="url" placeholder="Enter Url link Shop now  ..."
                                                    value="{{banner.url}}" class="form-control" required="">
                                            </div>
                                            <div class="form-group ">
                                                <label>Ảnh banner</label>
                                                <input accept="image/jpeg,image/gif,image/png,image/x-eps"
                                                    name="imageUrl" type="file" class="form-control-file">
                                                <div class="row col-md-6 mt-1">
                                                    <img src="{{banner.imageUrl}}" class="banner-post"
                                                        alt=" Chưa có ảnh !" class="img-fluid" src="#">
                                                </div>
                                            </div>
                                            {{#if banner._id}}
                                            <input type="submit" class="mt-4 btn btn-primary" value="Sửa banner">
                                            {{else}}
                                            <input type="submit" class="mt-4 btn btn-primary" value="Tạo Banner">
                                            {{/if}}
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{>admin/footer}}

</div>

<!--  END CONTENT AREA  -->