<!-- Header Area Start -->
<header>
    <div class="container-fluid header-top-area header-sticky">
        <div class="row">
            <!-- Logo Start -->
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-5 full-col pl-0">
                <div class="logo">
                    <a href="/"><img src=" {{fullPathImage '/img/logo.png'}}" alt="brand-image"></a>
                </div>
            </div>
            <!-- Logo End -->
            <div class="col-xs-12 visible-xs visible-control">
                <ul class="search-form mobile-form">
                    <li>
                        <form id="form-search-produc-mobile" action="{{createRouteSearch}}" method="POST">
                            <input type="text" class="search" name="search" placeholder="Tìm kiếm sản phẩm...">
                        </form>
                        <i id="btn-search-product-mobile" class="pe-7s-search"></i>
                    </li>
                </ul>
            </div>
       
                {{>client/header/primary-menu}}
                {{>client/header/header-all}}
          
            <!-- Mobile Menu  Start -->
            <div class="mobile-menu visible-sm visible-xs">
                <nav>
                    <ul>
                        <li><a href="#">Tất cả sản phẩm</a>
                            <!-- Mobile Menu Dropdown Start -->
                            <ul>
                                    {{#each treeMenu}}
                                <li><a href="{{createURLCategory this.urlSeo}}">{{this.name}}</a>
                                    <!-- Mobile Menu Sub-Dropdown Start -->
                                    <ul>
                                        {{#each this.children}}
                                      <li><a href="{{createURLCategory this.urlSeo}}">{{this.name}}</a></li>
                                         {{/each}}
                                    </ul>
                                    <!-- Mobile Menu Sub-Dropdown End -->
                                </li>
                                {{/each}}
                      
                             
                            </ul>
                            <!-- Mobile Menu Dropdown End -->
                        </li>

                        <li><a href="/about-us">about us</a></li>
                        <li><a href="/blogs">Blogs</a></li>
                        <li><a href="/contact">Liên hệ</a></li>
                    </ul>
                </nav>
            </div>
            <!-- Mobile Menu  End -->
        </div>
    </div>
</header>
<!-- Header Area End -->