<!-- Header Area Start -->
<header>
    <div class="container-fluid header-top-area header-sticky">
        <div class="row">
            <!-- Logo Start -->
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-5 full-col pl-0">
                <div class="logo">
                    <a href="/"><img src=" {{fullPathImage '/img/logo.png'}}" alt="brand-image"></a>
                </div>
            </div>
            <!-- Logo End -->
            <div class="col-xs-12 visible-xs visible-control">
                <ul class="search-form mobile-form">
                    <li>
                        <form id="form-search-produc-mobile" action="{{createRouteSearch}}" method="POST">
                            <input type="text" class="search" name="search" placeholder="Tìm kiếm sản phẩm...">
                        </form>
                        <i id="btn-search-product-mobile" class="pe-7s-search"></i>
                    </li>
                </ul>
            </div>

            {{>client/header/primary-menu}}
            {{>client/header/header-all}}

            <!-- Mobile Menu  Start -->
            <div class="mobile-menu visible-sm visible-xs">
                <nav>
                    <ul>
                        <li><a href="#">Về Momo</a>
                            <!-- Home Version Dropdown Start -->
                            <ul>
                                <li><a href="/about-us">Câu Chuyện Của Momo</a></li>
                                <li><a href="/work-with-us">Work With Us</a></li>
                                <li><a href="/contact">Liên Hệ</a></li>
                            </ul>
                            <!-- Home Version Dropdown End -->
                        </li>
                        <li><a href="#"><strong style="color: #d7ac87">Sản phẩm</strong></a>
                            <!-- Mobile Menu Dropdown Start -->
                            <ul>
                                {{#each treeMenu}}
                                <li><a href="{{createURLCategory this.urlSeo}}">{{this.name}}</a>
                                    <!-- Mobile Menu Sub-Dropdown Start -->
                                    <ul>
                                        {{#each this.children}}
                                        <li><a href="{{createURLCategory this.urlSeo}}">{{this.name}}</a></li>
                                        {{/each}}
                                    </ul>
                                    <!-- Mobile Menu Sub-Dropdown End -->
                                </li>
                                {{/each}}


                            </ul>
                            <!-- Mobile Menu Dropdown End -->
                        </li>
                        <li><a href="#">Chính Sách</a>
                            <!-- Home Version Dropdown Start -->
                            <ul>
                                <li><a href="/purchase-policy">Chính Sách Mua Hàng & Bảo Hành</a></li>
                                <li><a href="/loyal-customer">Chương Trình KH Thân Thiết</a></li>
                                <li><a href="/cooperate-policy">Chính Sách Hợp Tác</a></li>
                            </ul>
                            <!-- Home Version Dropdown End -->
                        </li>
                        <li><a href="/blogs">Tin tức</a></li>
                        <li><a href="/contact">Liên hệ</a></li>
                    </ul>
                </nav>
            </div>
            <!-- Mobile Menu  End -->
        </div>
    </div>
</header>
<!-- Header Area End -->