<div class="container-slider">
    <div class="content-left">
        <div class="hidden-sm hidden-xs">
            <nav>
                <ul class="left-primary-menu-list text-center">
                    <li><a>Tất cả sản phẩm </a></li>
                    {{#each allCategory}}
                    <li><a href="{{createURLCategory this.urlSeo}}">{{this.name}}</a></li>
                    {{/each}}
                </ul>
            </nav>
        </div>
    </div>

    <div class="content-right">
        <!-- Slider Area Start -->
        <div class="slider-area pb-100">
            <!-- Main Slider Area Start -->
            <div class="slider-wrapper theme-default">
                <!-- Slider Background  Image Start-->
                <div id="slider" class="nivoSlider">
                    {{#each banners}}
                    <img src="{{fullPathImage this.imageUrl}}" data-thumb="{{fullPathImage this.imageUrl}}"
                        title="#htmlcaption{{@index}}" />
                    {{/each}}
                </div>
                <!-- Slider Background  Image Start-->

                {{#each banners}}
                <div id="htmlcaption{{@index}}" class="nivo-html-caption slider-caption">
                    <!-- Slider Text Start -->
                    <div class="slider-text">
                        <h2 class="wow zoomInUp" data-wow-delay="1s">{{{this.title}}}</h2>
                        <p class="wow zoomInUp" data-wow-delay="1s">{{{this.desc}}}</p>
                        <a class="wow zoomInUp" data-wow-delay="0.8s" href="categorie-page.html">shop now</a>
                    </div>
                    <!-- Slider Text End -->
                </div>
                {{/each}}
            </div>
            <!-- Main Slider Area End -->
        </div>
        <!-- Slider Area End -->
    </div>
</div>