<!-- Slider Area Start -->
<div class="slider-area pb-100">
    <!-- Main Slider Area Start -->
    <div class="slider-wrapper theme-default">
        <!-- Slider Background  Image Start-->
        <div id="slider" class="nivoSlider">
            {{#each banners}}
            <img src="{{this.imageUrl}}" data-thumb="{{this.imageUrl}}" title="#htmlcaption{{@index}}" />
            {{/each}}
        </div>
        <!-- Slider Background  Image Start-->
      
        {{#each banners}}
        <div id="htmlcaption{{@index}}" class="nivo-html-caption slider-caption">
            <!-- Slider Text Start -->
            <div class="slider-text">
                <h2 class="wow zoomInUp" data-wow-delay="1s">{{{this.title}}}</h2>
                <p class="wow zoomInUp" data-wow-delay="1s">{{{this.desc}}}</p>
                <a class="wow zoomInUp" data-wow-delay="0.8s" href="categorie-page.html">shop now</a>
            </div>
            <!-- Slider Text End -->
        </div>
        {{/each}}
        
    </div>
    <!-- Main Slider Area End -->
</div>
<!-- Slider Area End -->